[2014-01-09 00:07] sindresorhus opened #1 "Support streams"
See: https://github.com/lazd/gulp-replace

[2014-02-18 09:35] #1 closed, assigned to haoxins

[2014-02-27 15:05] tarciozemel opened #2 "Support to variables"
I believe gulp-file-include would be a lot more usefull with support to variables. So, for example, would be possible to include a `header.inc` defining value of properties to the tags. Something like:

[code]

[code]

[2014-03-08 15:01] #2 closed, assigned to haoxins

[2014-03-12 01:43] haoxins opened #3 "remove autod"
https://github.com/dead-horse/autod/issues/4

[2014-03-28 08:48] ghost opened #4 "Check readme"
Hello.
I guess you need to fix gulp.js example in readme file.
Replace `var fileinclude = require('../index')` with `var fileinclude = require('gulp-file-include')`. Otherwise it doesn't work.

[2014-03-28 13:24] #3 closed, assigned to nobody

[2014-03-28 13:24] #4 closed, assigned to nobody

[2014-04-03 01:00] prestyman opened #5 "Support variable on multiple lines"
For easier coding it would be nice if variables could be on separate lines and perhaps allow multiple spaces between key and value:

[code]

[2014-04-06 03:52] #5 closed, assigned to nobody

[2014-04-22 07:08] wiz-Cll opened #6 "relative path not supported"
while my html files are not in root path of project, gulp-file-include got the wrong path to find included files:

[code]

in index.html:

[code]

Error Msg:

Error: ENOENT, no such file or directory './partial/file2include.html'

Looks like pulgin find path based on root path of project, not the html who invoked @@include commend

[2014-05-16 08:34] qijiesh opened #7 "if the file is not exist,programe will crash for no such file or directory"
suggest:
is it able not interrupt while the include file is not exists ?

[2014-05-16 09:19] #7 closed, assigned to nobody

[2014-06-03 19:26] josephdburdick opened #8 "How is this supposed to work with "gulp watch"?"
Hello, great job on the work you've done on this so far.

Question though, I have a gulpfile.js in [this gist](https://gist.github.com/josephdburdick/341404b51a102504fa36) that includes partial files properly on the "gulp build" command but when I run "gulp watch" it ignores the fileinclude task. I've looked online and in #gulpjs for assistance with no success. Any ideas as to what I'm doing wrong

[2014-06-17 06:45] rgksugan opened #9 "Ignore commented html"
The plugin doesn't ignore html comments. The plugin includes html files even if the include statement is commented out.

[2014-07-23 11:39] DarkPreacher opened #11 "No such file or directory bug"
Hi!
Just a few minutes ago I updated all my node-modules and `gulp-file-include` started to throw subject error. Copy of error:

[code]

Part of `gulpfile`:

[code]

I tryed to specify absolute path in `basepath` — also no luck.
OS Windows 8.1 x64, latest versions of nodejs and gulp.

[2014-07-31 02:29] haoxins opened #12 "add travis"

[2014-08-13 01:28] #12 closed, assigned to haoxins

[2014-08-18 07:22] euro opened #15 "Absolute path support"
I understand relative paths (./filePath) and (../filePath)  BUT can I do this? (/filePath)

Im trying to get this to work:

[code]

[2014-08-20 05:39] #15 closed, assigned to nobody

[2014-09-02 10:20] #9 closed, assigned to nobody

[2014-09-02 10:20] #8 closed, assigned to nobody

[2014-09-02 10:21] #11 closed, assigned to haoxins

[2014-09-03 02:03] haoxins opened #18 "todo"
- update deps
- set test timeout = 200
- rm should ?

[2014-09-04 01:10] #18 closed, assigned to nobody

[2014-10-28 20:37] Shonetow opened #20 "Gulp watch"
Hi,
Can you explain how to use this plugin with gulp watch?

[2014-10-30 02:40] elmerland opened #21 "Variable name with equal prefix get confused"
I have two variables in a file: `@@title` and `@@title_link`. When I try to include this file and pass the values for both variables; the second variable gets over-written with the value of the first one. For example:

[code]

Results in:

[code]

Instead of the wanted result:

[code]

Does this have anything to do with how both variables start with the same prefix `title`? or I am missing somethi

[2014-10-30 16:49] klase opened #22 "Conditional include?"
Would be nice if you could do conditional includes based on arguments e.g

@@if(button) {

}

[2014-11-12 07:30] Shonetow opened #23 "Variables not working"
Am I doing something wrong?

[code]

header.tmp.html

[code]

Result is whitout any change:

[code]

Latest version - 0.5.1

[2014-11-12 07:46] #23 closed, assigned to nobody

[2014-11-25 06:37] #22 closed, assigned to nobody

[2014-11-28 14:35] #6 closed, assigned to haoxins

[2014-11-28 14:41] #20 closed, assigned to nobody

[2014-11-29 05:09] troywarr opened #25 "Parsing of @@include() fails without trailing newline"
I'm using an `@@include()` within a Jade template. My gulpfile renders the template into HTML, then includes within that HTML output a separate rendered HTML file containing some SVG elements.

Because Jade minifies its HTML output, the result is something like this excerpt:

    ... //]]></script>@@include('./icons/svg/symbols.svg')<!--[if lt IE 9]><p class="browsehappy">You are using an <strong>

[2014-12-04 14:30] #21 closed, assigned to nobody

[2014-12-26 11:02] TrySound opened #27 "Conditional include with variables"
Hi!
What if you would do conditional include with variables, not just arguments:

[code]

[code]

P.S.
In documentation a little mistake. "If" with just one "@"

[2014-12-30 14:39] TrySound opened #28 "suffix option"
Sometimes need to hide include constructions from html by comments.
Can you add suffix option like in [grunt-include-replace](https://github.com/alanshaw/grunt-include-replace)?

[2014-12-30 14:48] TrySound opened #29 "Customizing"
You can separate constructions by two types:
functions

[code]

blocks

[code]

And let users add your own handlers for this types

[2014-12-31 01:52] #29 closed, assigned to nobody

[2015-01-02 23:06] TrySound opened #30 "meta-templater"
Hey! Happy New Year!

I created meta API based on syntax of your `gulp-file-include`. Let's make some improvements?
https://github.com/TrySound/meta-templater

[2015-01-03 14:45] coderhaoxin commented on #30
@TrySound
I'll take a look ASAP!

[2015-01-04 14:56] TrySound commented on #30
I made refactoring. Now it's more stable.

[2015-01-09 06:45] coderhaoxin commented on #30
merge to #28

[2015-01-09 06:45] #30 closed

[2015-01-09 06:47] coderhaoxin commented on #28
consider to use [meta-templater](https://github.com/TrySound/meta-templater) as a dep.

[2015-01-09 15:27] TrySound commented on #28
Good. You may open issue for some corrections or ideas.

[2015-01-09 16:09] microcipcip opened #31 "If statement not working"
I am trying the following conditional code, but it doesn't work. The if statement renders as if it was standard text, and the included content inside is always rendered.
[code]

My html page is pretty simple:
[code]

[2015-01-09 16:19] coderhaoxin commented on #31
sorry for the wrong doc, will fix it soon.

is
[code]

double `@`

[2015-01-09 16:21] coderhaoxin commented on #31
also need some improvements for this.

see #27

[2015-01-09 16:21] #31 closed

[2015-01-09 17:31] TrySound opened #32 "Smart File Include"
Add option with default file extensions. Maybe array or string.
Process file error with gulp-util.log
And cut the root from file path in error report

And make a few search paths (base paths) for flexible structure

[2015-01-10 16:22] coderhaoxin commented on #32
Is this really need?

`some/one/two/a.html`, `some/one/two/a` not a big difference.

maybe, something like this

.
+-- /home/me
|  +-- /files
|  +-- /templates
|  +-- /myapp
|    +--/gulpfile.js
|    +--/files
|      +--a.html

[code]

similar to `require`?

[2015-01-11 00:54] TrySound commented on #32
Okey, no need.

Maybe @root, @file and added relative (from root) paths.

[2015-01-12 12:06] microcipcip commented on #31
Thanks a lot!

[2015-01-13 04:08] DanielTate commented on #27
I can confirm this is still not working.My example is exactly that of @TrySound

[2015-01-13 04:34] coderhaoxin commented on #27
@DanielTate yes, this is not working for now

[2015-01-13 06:55] macr commented on #2
+1 being able to pass variable to the root template would be really cool.

[2015-01-13 10:41] TrySound commented on #2
In new release it will be able.

[2015-01-14 08:47] #27 closed

[2015-01-14 08:52] coderhaoxin commented on #31
0.8.0 published!

[2015-01-14 08:53] coderhaoxin commented on #27
0.8.0 published!

[2015-01-15 19:45] TrySound opened #34 "Error handling"
When including file doesn't exist gulp takes off. And I have to use gulp-plumber. It's bad.

So, I recommend you to use for exceptions `throw new gutil.PluginError(pluginName, message);` (`new` necessarily) and to check file existance with `fs.existsSync(filename);`

[2015-01-15 19:53] TrySound commented on #25
No fail for now.
Close?

[2015-01-16 03:33] coderhaoxin commented on #25
@TrySound yes, it works in most cases. But it's hard to fix in some edge cases.

not care too much about that. :smile: close... for now.

[2015-01-16 03:33] #25 closed

[2015-01-17 11:02] TrySound commented on #34
Hm.. it's strange.

Sometimes gulp catches an errors, sometimes crashes in:

[code]

Maybe problem is in gulp itself.

Error exception in your code no need to replace. It's good for now. I just replaced event-stream with through2 in pull request.

[2015-01-17 16:15] TrySound opened #36 "Stream handling"
You don't need to handle streams, because text is small thing. And parsing a part of construction is not good, bacause it will be missed or errored.

What do you think?

[2015-01-19 17:23] coderhaoxin commented on #36
yes, but no mind for that.

[2015-01-19 17:25] coderhaoxin commented on #34
maybe relate to other plugins.

[2015-01-19 17:56] TrySound commented on #34
No, I use just include for html

[2015-01-19 17:57] TrySound commented on #36
I will delete it, ok?

[2015-01-20 01:22] coderhaoxin commented on #36
just keep it.

[2015-01-20 01:22] #36 closed

[2015-01-20 03:16] stoplion opened #37 "Jade templates included file wrong spacing"
How do you include a Jade (or any template language) with this library and keep the correct white space? [File is being included correctly, but white space is wrong.](http://stackoverflow.com/questions/28018899/gulp-file-include-and-jade-nesting-problems)

[2015-01-20 03:31] TrySound commented on #37
file-include does not response for your indents,
You can save firstline empty and then use indent based of the parent template. I don't know is it good for Jade.

[2015-01-20 06:34] coderhaoxin commented on #37
I'll add a test for this, `white space` should be included correctly.

[2015-01-20 06:52] TrySound commented on #37
@coderhaoxin It's correctly, but parent indents are not inherited.

[2015-01-20 07:06] coderhaoxin commented on #37
yes, it should

[2015-01-20 07:14] TrySound commented on #37
Need to pass third argument in include with parent information.

It could be useful for error tracing. I will realize this in [MT](//github.com/trysound/meta-templater).

[2015-01-20 09:18] coderhaoxin commented on #37
@TrySound +1

[2015-01-25 13:41] thetutlage opened #38 "if condition not working"
[code]

And instead footer.html i have

[code]
It says page is not defined

[2015-01-25 13:59] coderhaoxin commented on #38
:cry: because they are not in the same file.

so, `page` is not defined.

[2015-01-25 14:01] thetutlage commented on #38
If i am passing something to the include , that should to be passed to the include file , isn't it ?

[2015-01-25 14:16] TrySound commented on #38
@coderhaoxin Meta templater fix this:-)

[2015-01-25 14:49] thetutlage commented on #38
@TrySound  What is Meta templater ??

[2015-01-25 15:03] TrySound commented on #38
@thetutlage [my parser](https://github.com/TrySound/meta-templater) for this syntax

[2015-02-03 12:50] dirkluijk commented on #38
Same issue over here. Seems like the variable was not passed to the included file.

[2015-02-04 19:29] christianv opened #39 "If the file to include contains curly brackets, the outputted HTML is wrong"
When you include an HTML file with `{` or `}`, the outputted HTML looks is wrong.

e.g.

base.html
[code]

index.html
[code]

Output (we shouldn't have the `@@if`).
[code]

[2015-02-05 21:01] jovpet opened #40 "Multiple locations for files"
Is there an option to use multiple file locations? for example my structure is:
-- /app
|  -- /components
|     --header.html
|  -- /files
|     --logo.svg
|  -- /pages
|     --home.html

And I want to include in pages/page.html components/header.html and files/logo.svg
I hvae my gulp task:

[code]

but once I run it it says:
**Error: Arguments to path.resolve must be strings**

Can I use multiple

[2015-02-06 01:06] TrySound commented on #40
For now no. In the next release it will be able.
And #32

[2015-02-19 07:00] tslater opened #41 "Error for combination of symbols in value"
When I do something like:
[code]

I get:
[code]

It seems to be the combination of the parenthesis and the curly brackets. Is there a way to escape those characters? Is it trying to execute them as javascript?

[2015-02-19 09:13] TrySound commented on #41
No way. But [meta-templater](https://github.com/trysound/meta-templater) works fine with it.

[2015-02-19 14:45] tslater commented on #41
Why am I even getting this error?

[2015-02-19 14:55] TrySound commented on #41
Because file-include use regexp for parsing.

[2015-02-20 01:43] KyleBJV opened #42 "Changing asset paths located in included partial in files nested in directories"
My project directory is in the `app/` directory. In my `app/` directory I also have subdirectories such as `app/services/` and `app/previews/`. The `.html` files in my `app/` directory and subdirectories (e.g. `app/services/`) share the same CSS/JS assets in the header partial view (located at `app/partials/header.html`).

When viewing `app/index.html` the paths are correct. But when viewing `.htm

[2015-02-21 03:05] KyleBJV commented on #42
Update! Ended up running one more gulp task after all the others were complete:

	gulp.task('fixpaths', ['html'], function () {
	  return gulp.src('dist/*/**/*.html')
		.pipe($.plumber())
		.pipe($.replace('styles/', '../styles/'))
		.pipe($.replace('scripts/', '../scripts/'))
		.pipe(gulp.dest('dist'));
	});

I used the `gulp-replace` plugin to replace the paths in the `.html` files in nested dir

[2015-02-21 12:49] coderhaoxin commented on #42
`../partials/header.html` not work?

[2015-02-21 13:18] KyleBJV commented on #42
`../partials/header.html` pulled the header partial view in just fine.

The problem I was encountering involved the assets (such as CSS, JS) that I was calling in my header and footer partial views. The assets I was loading in the partials had the incorrect path.

**Here's my project:**

	app/
		- fonts
		- images
		- partials/
			- header.html
			- footer.html
		- services/
			- index.html
		- st

[2015-02-21 13:26] KyleBJV commented on #42
Just a reason why I feel a default value for include variables would be useful.

If I could specify a rootPath variable in this instance. I could do this:

**gulpfile.js**

`.pipe($fileInclude( { defaults: { rootPath: './' } } ))`

**app/partials/header.html**

`<link rel="stylesheet" href="@@rootPath/styles/main.css">`

**app/index.html**

`@@include("header.html")` (stylesheet path will render a

[2015-02-21 13:31] KyleBJV commented on #42
Another random use case would be this..

In my header partials I also have a JS snippet that sets what scripts to run. On my pages I do the following: `@@include('./partials/header.html', { "scripts": "pageName" })`

And in my header partial:

	<script>
	   window.site = window.site || {};
	   site.page = ('@@scripts'.indexOf('@scripts') === -1) ? '@@scripts' : '';
	</script>

Instead of just usin

[2015-02-21 13:47] coderhaoxin commented on #42
I see.

[2015-02-22 17:06] alanontheweb opened #43 "including markdown issue"
I got a Markdown to be included in an html template using the directions on the site, but when I use direct HTML elements inside the markdown, the template renders them as plain text. I noticed this is different from other markdown implementations out there. Is it running in safe mode, or how might one get this to work?

[2015-02-22 17:16] alanontheweb commented on #43
Or how do I go about including this parser instead? https://github.com/chjj/marked

[2015-03-03 13:52] robbinjanssen commented on #38
@coderhaoxin Is there a roadmap or an estimated date for 1.0.0? :)

[2015-03-03 15:08] coderhaoxin commented on #38
before April :cry:

[2015-03-04 09:11] robbinjanssen commented on #38
@coderhaoxin thanks, I can live with that, great work you're doing here! Might look at some alternatives in the meantime. Primarily use it to (conditionally) merge markdown files.

[2015-03-06 14:44] bewards commented on #38
I would love to see this in action soon as well. If you declare the variable in the context option, it works, but there's definitely a need to have that variable page based.

[2015-03-10 13:21] shantanugautam opened #44 "Importing Vietnames Language"
Env :
OSX Yosemite : 10.2.2
node: v0.12.0
"gulp-file-include": "0.8.x"

Usage :

[code]

I have a workflow , where i build email templates from components , build HTML inline css etc.

If included components contain VN special character, the generated HTML replaces it with unicode characters .

Sample Main HTML

[code]

Sample Component

[code]

[2015-03-12 18:38] svkarpovich commented on #38
@@if works correctly if add next code at line 152
[code]

[2015-03-13 23:36] bradgreens commented on #37
@stoplion I solved a similar problem with Jade, but it was messy. http://stackoverflow.com/a/29043553/845717.

@TrySound should I open an issue regarding `gulp-file-include`'s ability to support multiple includes on the same line? If my slim templates compile the `@@` directives to the following HTML can we make it "just work"?
[code]

[2015-03-13 23:45] TrySound commented on #37
I think this must work in Meta-templater. I will test this ASAP

[2015-03-13 23:51] TrySound commented on #37
@bradgreens It's works!

[2015-03-13 23:54] TrySound commented on #37
@coderhaoxin let's make a list of meta-templater requirements for using it as dependancy

[2015-03-17 02:19] xutiancheng opened #46 "lv,lv,lv"
hulala,hulala :blush:

[2015-03-17 02:20] xutiancheng commented on #46
#10

[2015-03-17 03:39] #46 closed

[2015-03-19 21:26] stagfoo opened #47 "Retain folder structure from scanned directories"
This might just be me because im new to gulp but is there an `option` to retain the dir structure when creating render html files?
[code]
This currently render to (which i dont want)
[code]
the structure i would like is

[code]

[2015-03-19 23:29] TrySound commented on #47
It's a gulp issue https://github.com/gulpjs/gulp/blob/master/docs/API.md
Look at base option

[2015-03-23 12:01] norbikaa opened #48 "Can't import htmls with different parameters"
For example:
@@include("block-list", {
	"title1": "title1",
	"title2": "title2"
})
@@include("block-list", {
	"title1": "title1"
})
Result:
title1 title2
title1 @@title2

If I use the If statement
@@include("block-list", {
	"title1": "title1",
	"title2": "title2"
})
@@include("block-list", {
	"title1": "title1"
})

and the block-list content:
@@if (typeof title1 != "undefined") { @@title1 }
@@if (

[2015-03-23 12:23] sarguvlad commented on #38
@svkarpovich, that line is already [there](http://joxi.ru/8238jJMUDkjGAO), but that doesn't change anything, or you meant something else?

[2015-03-23 15:26] norbikaa commented on #48
Found a solution:
@@if (text == "@text") {
      @@text
}

But I don't understand why work this...

[2015-03-23 16:24] lasseyls opened #49 "Includes within includes?"
Is it possible to have a template.html like:
[code]
and then have something outside like:

        @@include('./partials/template.html', {
            "variable": "some_other_template"
        })

[2015-03-23 19:00] TrySound commented on #49
You may do this
[code]
It's just a variable :-)

[2015-03-23 20:34] svkarpovich commented on #38
@sarguvlad, Currently this code on line 154. Try to duplicate this line and paste to line 152.

[2015-04-08 14:17] xpepermint opened #50 "Not working at start of a file"
My gulp task:
[code]
Template:
[code]
Ignores if I place the `//=` at the top of a file.

[2015-04-12 14:04] Vad1mo opened #51 "use the plugin in together with browser sync"
Im not an gulp expert but would like to know if there is a way how I could use this plugin together with browser sync currently it is only working with serve:dist.

[code]

[2015-04-12 18:05] TrySound commented on #51
@Vad1mo

[code]

[2015-04-13 12:58] Vad1mo commented on #51
Hello @TrySound I tried your suggestion but it is not working. I still displays  @@include('./tpl/header.tpl.html') instead of the content.

Here is my used configuration:

[code]

[2015-04-13 13:08] Vad1mo commented on #51
Alternatively It would be possible to use the task `serve:dist`  but in that case I need to find out a way  why dist is not updated  in serve:dist mode

[2015-04-16 10:54] teej043 commented on #49
@TrySound

It doesn't seem to work for me.
gulp-file-include v 0.9.0

[code]

[code]

the output html displays:

@@include('../demo/' + content + '.html')

[2015-04-16 11:34] TrySound commented on #49
@coderhaoxin

[2015-04-16 15:29] coderhaoxin commented on #49
Not supported for now.

[2015-04-16 15:30] coderhaoxin commented on #28
2a67d07463d82ca95389e6edfb4bd82a1e65ee93

[2015-04-16 15:30] #28 closed

[2015-04-16 15:44] coderhaoxin commented on #49
Add to todo list of `v1.0.0`, shame on such a long delay for `v1.0.0` :cry:

[2015-04-21 21:47] jpbullalayao opened #53 "Passing in objects into include?"
Hello!

This is a question. I have the following code:

![screen shot 2015-04-21 at 2 40 34 pm](https://cloud.githubusercontent.com/assets/3538024/7263222/96a4de24-e834-11e4-9118-9b3e3b6096ae.png)

As you can see, I'm gonna use a "name" variable in `site-nav.html`. Is there anyway I can use some kind of JavaScript object instead rather than hardcode the variables in every single file? Something li

[2015-04-22 00:52] coderhaoxin commented on #53
Sorry, `NO`.

[2015-04-22 00:55] TrySound commented on #53
@coderhaoxin context doesn't work?

[2015-04-22 01:03] coderhaoxin commented on #53
https://github.com/coderhaoxin/gulp-file-include#if-statement

@TrySound `context` is defined at gulpfile, not every single file

[2015-04-22 01:17] TrySound commented on #53
@coderhaoxin Ok.

[2015-04-22 01:23] TrySound commented on #53
@coderhaoxin I made new version of [my parser](https://github.com/TrySound/meta-templater/tree/1.0)

[2015-04-22 04:48] coderhaoxin commented on #53
@TrySound :v:

[2015-04-23 09:16] jonaslewin opened #54 "Detect infinite loop when A includes B includes A"
##### Works today:

Today you support recursion problems when file A includes file A, and I get the report of

[code]
##### What I would like:

File A includes File B
File B includes File A.

At that point the same error should be reported.
Today I get this error:

[code]

And the same would be valid for
File A includes File B
File B includes File C
File C includes File A

[2015-04-23 10:27] coderhaoxin commented on #54
https://github.com/coderhaoxin/gulp-file-include/blob/master/test/edge-case.js#L87

It's a bug for now.

[2015-04-23 12:38] web2style opened #55 "If else"
`class="@@if (active === 'index') {index}"` works fine, but how can I have `else` condition also?

`class="@@if (active === 'index') {index} else {inner}"` throws error, `class="@@if (active === 'index') {index} @@else {inner}"` also.

[2015-04-23 13:24] TrySound opened #56 "open gitter room"
Please)

[2015-04-23 14:59] coderhaoxin commented on #55
+1

[2015-04-23 18:58] TrySound commented on #55
@web2style You can use negative condition for it.

[2015-04-23 19:19] web2style commented on #55
@TrySound Could you please provide an example? I tried
```class="@@if (active === 'index') {index} @@if (active !== 'index') {inner}"```
but it also throws an exception.

[2015-04-23 19:33] TrySound commented on #55
@web2style Which exception it throws?

[2015-04-23 23:57] TrySound commented on #56
I've published new version of MT on npm. Let's discuss

[2015-04-24 00:28] coderhaoxin commented on #56
@TrySound :+1: , soon, but not now. Maybe next Friday.

[2015-04-24 06:31] web2style commented on #55
@TrySound
[code]

[2015-04-24 07:22] TrySound commented on #55
@web2style Looks like javascript syntax error. Check your code.

[2015-04-24 08:13] web2style commented on #55
But it disappears when I change this line to `class="@@if (active === 'index') {index}`

[2015-04-24 08:18] TrySound commented on #55
@web2style Perheps it's regexp problem.
Try this
[code]

[2015-04-24 09:04] web2style commented on #55
@TrySound It works like this, but I can't use it for class declaration, because an element can't have 2 classes.

@coderhaoxin So this looks like a bug.

[2015-04-24 09:09] TrySound commented on #55
@web2style At next friday we will start to discuss integrating of my [meta-templater](https://github.com/trysound/meta-templater) as an engine. It parses without regular expression, so will be more stable.

[2015-04-24 09:17] TrySound commented on #55
@web2style You can try this. And ask questions in gitter room

[2015-04-24 14:54] eneuhauser opened #57 "Including a suffix breaks filters"
When I include a suffix and filters, I get the following error. This error occurs regardless if I apply the filter.

[code]

For my case, I'm including a file inside JSON, so I wrap the file include inside quotes to make it valid JSON. Here's the snippet with the include:

[code]

My task looks like this:

[code]

If I comment out suffix, it works, but leaves a trailing quote. If I comment out the

[2015-04-24 15:01] eneuhauser commented on #57
Using gulp-replace, the following fixes the trailing quote until the suffix issue can be worked out.

[code]

[2015-05-12 08:42] mlenser opened #58 "Indentation is not maintained"
When including a HTML file the resulting file does not have the same indentation as the base file. All the nesting is broken.

Perhaps this is due to CRLF?

[2015-05-13 02:08] rison opened #59 "context related issue"
* In if condition, should be:
`@@if (context.name === 'test' && nav === true) {`

* To print context seems not working, tried both:
`<label>@@name</label>` and  `<label>@@context.name</label>`

[2015-05-14 12:47] stephanedemotte opened #60 "Source map support"
[gulp-sourcemap](https://github.com/floridoo/gulp-sourcemaps/wiki/Plugins-with-gulp-sourcemaps-support) support can be awesome !

[2015-06-08 11:46] jwbaart commented on #48
Experiencing a similar issue when executing the following code:

@@include("block-list", {
"title": "title1"
})
@@include("block-list", {
"title": "title2"
})

block-list content:
@@title
@@if (title === 'title1') {
    // Do something for 1
} @@if (title === 'title2') {
    // Do something for 2
}

Result:
title1
// Do something for 2
title2
// Do something for 2

Thus when calling the same inclu

[2015-06-18 10:24] igoradamenko opened #62 "Redefined variables"
I have some htmls:

header.html:

	<header class="header">
		@@include('../backcall/backcall.html', {
			"parent": "header__backcall"
		})
	</header>

backcall.html:

	<div class="backcall @@parent">
		@@include('../icon/icon.html', {
			"parent": "backcall__icon"
		})
	</div>

icon.html:

	<span class="icon @@parent"></span>

Aafter compilation I get:

	<header class="header">
		<div class="backc

[2015-06-18 10:52] TrySound commented on #62
@igoradamenko I work on this problem.

[2015-06-18 10:56] TrySound commented on #38
Reference on #62.
This issue could be closed.

[2015-06-18 10:58] TrySound commented on #49
Reference on #62.
This issue could be closed.

[2015-06-18 10:59] TrySound commented on #53
This issue could be closed.

[2015-06-18 10:59] TrySound commented on #48
Reference on #62.
This issue could be closed.

[2015-06-18 11:01] TrySound commented on #59
Reference on #62.
This issue could be closed.

[2015-06-18 11:08] TrySound commented on #58
@mlenser I think the only first line is parent indent + current indent. I just leave the first line empty. Or you can use some html beautifiers.

[2015-06-18 11:56] mlenser commented on #58
@TrySound Oooh, first line blank is a better solution than my extra spacing to make it work. Thanks!

[2015-06-18 12:22] coderhaoxin commented on #62
@TrySound collaborator added. Also npm

[2015-06-18 12:25] #58 closed

[2015-06-18 12:27] #59 closed

[2015-06-18 12:27] #48 closed

[2015-06-18 12:27] #49 closed

[2015-06-18 12:27] #38 closed

[2015-06-18 12:36] #53 closed

[2015-06-18 12:50] mlenser commented on #58
This is merely a workaround, not a solution..

[2015-06-18 12:54] TrySound commented on #58
@mlenser Don't think so. It's a task for another gulp plugin.

[2015-06-18 13:00] mlenser commented on #58
Your stance is that your code should require another plugin to create properly indented html?

[2015-06-18 13:16] TrySound commented on #58
@mlenser It's the node way. Small module is doing one mission. Together they are doing the world.

[2015-06-18 23:02] TrySound commented on #39
@christianv For this need to rewrite part of the parser.
Will make as soon as it posible.

[2015-06-18 23:19] TrySound commented on #62
@igoradamenko @thetutlage @norbikaa Check this out. I think it fixed.

[2015-06-18 23:53] christianv commented on #39
@TrySound thanks!

[2015-06-19 08:07] igoradamenko commented on #62
@TrySound yes, it works perfectly now. thanks!

[2015-06-19 09:46] norbikaa commented on #62
@TrySound Tested and works perfectly. This fix saved my life :dancers:

[2015-06-19 10:08] #62 closed

[2015-06-19 10:13] #34 closed

[2015-06-19 10:19] #32 closed

[2015-06-19 17:44] TrySound opened #63 "Partially string parser"

[2015-06-19 17:45] TrySound commented on #39
Referenced on #63

[2015-06-19 17:45] #39 closed

[2015-06-19 17:45] TrySound commented on #41
Referenced on #63

[2015-06-19 17:45] #56 closed

[2015-07-02 17:00] RazvanDH opened #64 "use @@if and @@include with a param"
[code]
will output the correct partial, with the parameter in place, but it also outputs the `@@if` condition

[2015-07-02 17:10] TrySound commented on #64
@RazvanDH What output when codition is false.

[2015-07-02 17:32] RazvanDH commented on #64
@TrySound, first of all, thanks for the really quick reply.

It's the same output with the condition true / false. It considers `@@if` as being a string. It's something to do with the curly braces I think (I know there's another issue with something similar).

**Example:**

[code]
*will output:*
[code]

[code]
*will output:*
[code]

Hope this helps.

[2015-07-02 17:48] TrySound commented on #64
@RazvanDH Yes. Nested curly braced doesn't work. It's regexp. I will rewrite a little consition parser today. So tomorrow you will be able use it.

[2015-07-02 18:42] RazvanDH commented on #64
Thanks @TrySound. That's great news.

[2015-07-03 10:21] TrySound commented on #64
@RazvanDH You can use fix-cond branch instead of npm module as a dependency.
[code]

[2015-07-03 22:29] TrySound opened #66 "Optional indent detecting"
Suggest to add boolean `indent` option
`Include` parser will calculate indent from start of construction. If there is no one non-space char beetwen newline and start then move each line of included content.
It could be minor change.
@coderhaoxin Do you agree?

[2015-07-04 09:41] coderhaoxin commented on #66
I'm +1 for this. Just make the default option: `indent: false`

[2015-07-04 13:13] TrySound commented on #66
@coderhaoxin Sure. I agree with it.

[2015-07-04 15:12] coderhaoxin commented on #64
0.12.0

[2015-07-04 15:12] #64 closed

[2015-07-04 15:13] coderhaoxin commented on #63
0.12.0

[2015-07-04 15:13] #63 closed

[2015-07-04 15:13] coderhaoxin commented on #55
0.12.0

[2015-07-04 15:13] #55 closed

[2015-07-04 15:19] TrySound commented on #64
@RazvanDH Done!

[2015-07-04 20:16] RazvanDH commented on #64
@TrySound - thanks for the fast fix, man. Will check it on Monday.

[2015-07-04 20:23] TrySound commented on #39
@christianv Done!

[2015-07-04 22:24] #66 closed

[2015-07-05 09:56] TrySound opened #67 "remove stream mode"

[2015-07-05 10:01] TrySound commented on #58
@mlenser I added this feature.

[2015-07-05 16:42] christianv commented on #39
@TrySound thanks!

[2015-07-05 17:44] mondalaci opened #68 "Missing index.js"
Just ran `npm install gulp-file-include` and inside of `node_modules/gulp-file-include` there was no `index.js`. I reproduced this on two host, one from Hungary and the other from London. What can be the problem?

[2015-07-05 17:46] mondalaci commented on #68
Just checked that 0.12.0 seems ok but 0.13.0 doesn't.

[2015-07-05 18:36] TrySound commented on #68
@mondalaci Try again, please. Published 0.13.1

[2015-07-06 08:50] TrySound commented on #68
@mondalaci 0.13.2

[2015-07-06 20:58] mondalaci commented on #68
Works great, thanks!

[2015-07-06 20:58] #68 closed

[2015-07-07 10:54] #47 closed

[2015-07-09 19:08] MsTrends opened #69 "Implementing 'gulp-file-include' in 'yeoman/generator-gulp-webapp'"
I'm using [yeoman/generator-gulp-webapp][1] and I've added [gulp-file-include][1] plugin. I've generated vanilla `gulpfile.babel.js` by using yeoman, now i'm able to implement file-include command within 'html' task and with 'gulp html' command i'm able to compile html files correctly,
but I'm not sure how to implement file-include plugin in this file (gulpfile.babel.js) in such a way that it work

[2015-07-09 19:36] TrySound commented on #69
@MsTrends gulp-load-plugins use camelcase for hyphen-separated names. So use should use $.fileInclude instead.

[2015-07-09 19:37] #69 closed

[2015-07-09 19:37] MsTrends commented on #69
@TrySound Yeah, i just realized this mistake, now i'm unable to make it work with 'gulp serve' command.

[2015-07-09 19:40] TrySound commented on #69
@MsTrends What's problem? These tasks are independent.

[2015-07-09 19:45] MsTrends commented on #69
Yeah, they are independent. But even if i add 'html' in 'gulp serve' task like this:

     gulp.task('serve', ['html', 'styles', 'fonts'], () => {

html files are not being compiled, I'm not sure how to integrate file-include plugin within this task in such a way that it can work with 'browserSync' plugin.

[2015-07-09 19:57] TrySound commented on #69
I think the problem could be if gulp.if. Or not))
You also can use `require('main-bower-files')('**/*.js')` without object.

[2015-07-09 20:10] MsTrends commented on #69
I'm sorry i didn't understand what you are trying to say. I've tracked a previous ticket regarding 'browserSync' here: https://github.com/coderhaoxin/gulp-file-include/issues/51

And i think my problem is very similiar to this, i've also tried your mentioned suggestion (i.e. adding .pipe(reload({ stream: true  })); to the end of html task), but it is of no use.

Currently, uncompiled .html files a

[2015-07-09 20:14] TrySound commented on #69
@MsTrends It's just not the problem of plugin. What exactly doesn't work in you case?

[2015-07-09 20:20] MsTrends commented on #69
When we run 'gulp serve' command, it'll create a live local url to the production site (e.g. http://localhost:9000/), now if i change any file (.scss, .js etc excluding .html) in 'app' folder it's effect will automatically appear in browser windows without refreshing the page. Now, i want file-include plugin to behave in the same way (i.e. change in any .html file in 'app' folder should immediatel

[2015-07-09 20:41] TrySound commented on #69
@MsTrends Sorry, I don't see any decisions. You may create smallest example. And research its.
Then maybe I will find something.

[2015-07-09 21:20] MsTrends commented on #69
Thanks, very much for your time and assistance, I was able to solve the issue by following this tutorial, together with some changes: https://github.com/yeoman/generator-gulp-webapp/blob/master/docs/recipes/jade.md

[2015-07-09 21:24] TrySound commented on #69
@MsTrends Nice!

[2015-07-09 21:25] #51 closed

[2015-07-12 19:28] sdaitzman commented on #60
:+1: I really want this :yum:

[2015-07-12 19:34] TrySound commented on #60
@sdaitzman Where do you use it?

[2015-07-12 20:07] sdaitzman commented on #60
A lasercutter/CNC queuing system, open source @ https://github.com/yrsegal/LaserQueue

[2015-07-12 20:09] TrySound commented on #60
Which language? Just interesting.

[2015-07-12 20:10] sdaitzman commented on #60
We use gulp-file-include to process frontend JS, but the backend is python 3

[2015-07-12 20:15] TrySound commented on #60
browserify is not case?

[2015-07-12 20:18] sdaitzman commented on #60
I looked into browserify and it would work too but I like the simplicity this gives me

[2015-07-12 20:19] TrySound commented on #60
This feature will be realized not so soon. Sorry. I have no much time and firstly need to fix parser.

[2015-07-12 20:20] sdaitzman commented on #60
That's alright! Thanks for the tool anyway.

[2015-07-13 09:23] raphaelgoetter commented on #40
+1 Would be great !

[2015-07-17 18:03] lorio commented on #42
thanks KyleBJV this worked really well

[2015-07-18 13:56] TrySound commented on #37
@bradgreens I made some fixes in parser. Try it again, please.

[2015-07-18 13:58] TrySound commented on #37
@stoplion I added indent option. You can try it with jade.

[2015-07-18 23:29] TrySound commented on #50
@xpepermint Try again, please.

[2015-07-18 23:30] TrySound opened #70 "1.0 suggestions"
- [ ] remove stream mode support;
- [ ] remove non-parentheses `if` syntax;
- [ ] search include file relatively, and in paths;
- [ ] parsing to ast
- [ ] make it async
- [ ] loop operator
- [ ] sourcemaps support

[2015-07-18 23:30] #67 closed

[2015-07-18 23:30] TrySound commented on #67
#70

[2015-07-18 23:30] TrySound commented on #40
#70

[2015-07-19 18:50] xpepermint commented on #50
@TrySound I would but I moved to webpack and I'm not using gulp anymore. You can close this issue If the bug fixed. Thx.

[2015-07-19 19:49] #50 closed

[2015-07-19 19:55] #37 closed

[2015-07-21 20:16] Jakobud opened #71 "onSuccess and onError handlers?"
Is there a way to do a callback when the include is successful or if there is an error?

[2015-07-21 20:23] TrySound commented on #71
@Jakobud Why you need it? Stream fires `error` when something fail.

[2015-07-21 21:24] Jakobud commented on #71
Sorry I'm new to gulp. Can you explain where it would go?

[code]

[2015-07-21 21:28] TrySound commented on #71
On error it will break stream, If you use watchers you can do this
[code]
This will catch an error and won't stop you watcher.

[2015-07-21 21:59] Jakobud commented on #71
Oh geez I never new you could do that with gulp. Thanks,

[2015-07-21 21:59] #71 closed

[2015-07-22 15:21] ihaolin opened #72 "gulp-file-include support global context?"
Hello，I am using **gulp-file-include** to organize my html views，the **context** option is used to **if** statement according to document，but can the **context** is used in any html file? that say，I define an attribute in **fileinclude**，and use it in html。

Thanks & Regards

[2015-07-22 15:34] TrySound commented on #72
@ihaolin It's a small conflict.

`context` in options is global variable. They works with @@var syntax and in conditionals

`context` in conditionals is an object with globals and locals. It could be useful if variable is unnecessary:

This will fail if param is undefined
[code]

This will work fine.
[code]

[2015-07-22 15:45] ihaolin commented on #72
Thanks，I use **@@var** to solve my problem。

[2015-07-23 14:09] jzhang300 opened #73 "For Loops Support within Templates"
Is there a way to loop through an array within the templates?

If I want to pass in an array of say 20-50 elements, I don't want to manually type all items in.

[2015-07-23 15:43] 7immy commented on #73
This would be good!! :)
I can imagine a syntax like below...
[code]
The each function has 2 arguments:
 1. For the file location
 2. For loop configuration

[2015-07-23 15:55] TrySound commented on #73
@jzhang300 This feature will be in 1.0 version. In future. Not sure soon.
@7immy It's not simple construction. This will be better
[code]

[2015-07-23 16:13] 7immy commented on #73
@TrySound Brilliant news! I was just helping the conversation along to get people interested but it seems there is no need!

Cheers :)

[2015-07-23 16:47] 7immy commented on #73
Would external database sources such as files be included in this feature?

[2015-07-23 20:53] TrySound commented on #73
@7immy You will be able to write own handlers for `function` (like include) or `operator` (like if).

[2015-07-24 11:42] kirillbunin opened #74 "Missing file throws error that shuts down gulp"
I'm using gulp-file-include in a "watch". Which is problematic, since errors about missing files terminates the process.

[2015-07-24 13:55] TrySound commented on #74
It's not plugin problem. Streams do not support error bubbling. You can use this
[code]
This will good work with every plugin that throws an error.

[2015-07-24 14:07] kirillbunin commented on #74
Learning by making mistakes, the way i like it.
Thank you!

[2015-07-24 14:07] #74 closed

[2015-07-24 14:59] TrySound commented on #74
@kirillbunin It's not very popular way, but it works better another one.

[2015-07-24 19:24] MsTrends opened #75 "Not equal to operator in IF statement"
I'm unable to use 'not equal to' operator in if statement. For example in following code, test.html file is still being included even if 'nav' variable is set to false.

<pre>
@@include('some.html', { "nav": false})
</pre>

and in 'some.html' file ...

<pre>
@@if (nav !== false) {
  @@include('test.html')
}
</pre>

[2015-07-24 19:25] TrySound commented on #75
Show your gulpfile

[2015-07-24 19:28] MsTrends commented on #75
This is the related code from gulp file.

gulp.task('views', function () {
  return gulp.src('app/*.html')
    .pipe($.fileInclude({ prefix: '@@', basepath: '@file'}))
    .pipe(gulp.dest('.tmp'))
    .pipe(reload({stream: true}));
});

[2015-07-24 19:33] TrySound commented on #75
@MsTrends In your example first include and if in different files?

[2015-07-24 19:37] MsTrends commented on #75
It's actually a simplified version from this plugin's Readme.md file. 'nav' variable is being passed to 'some.html' file and the if statement itself is in 'some.html' file.

[2015-07-24 19:47] TrySound commented on #75
Does it throw an error?

[2015-07-24 19:49] MsTrends commented on #75
Nope, no error in terminal. It simply ignores the condition and include the 'test.html' file.

[2015-07-24 19:50] TrySound commented on #75
I tried this, but it works fine.

[2015-07-24 20:03] MsTrends commented on #75
It seems the example mentioned above is not exactly depciting my situation. In my example above, variable is being passed to only one file 'some.html', but in my actual code it's being passed to two files one by one. For example:

in first file ...

<pre>
@@include('some.html', { "nav": false})
</pre>

in 'some.html' file ...

<pre>
@@include('some-other.html', { "nav": "@@nav"})
</pre>

and now i

[2015-07-24 20:07] TrySound commented on #75
@MsTrends `false` isn't equal `"false"`, so...

[2015-07-24 20:10] MsTrends commented on #75
Yes, for this reason i already tried using ...

<pre>
@@if (nav !== 'false') {
  @@include('test.html')
}
</pre>

but it shows the same result.

[2015-07-24 20:17] TrySound commented on #75
Actually variables apply after includes. So I think nav is equal `"@@nav"`

[2015-07-24 20:22] MsTrends commented on #75
No, if in 'some-other.html' file i print this variable value like so:

<pre>
<p>@@nav</p>
</pre>

It prints 'false' (without quotes), so the value of variable is fine. It just not working in IF statement either with or without quotes.

[2015-07-24 20:23] TrySound commented on #75
Try this
[code]

[2015-07-24 20:27] MsTrends commented on #75
Yeah, now it's printing @@nav in terminal. But on front-end it shows original value.

[2015-07-24 20:43] TrySound commented on #75
@MsTrends It's includes with @@nav value and then this value replaces with variables.

[2015-07-24 20:45] TrySound commented on #75
I will swap includes and variables parsing in a hour.

[2015-07-24 20:51] MsTrends commented on #75
That's strange as same variable gives two different values based on context (i.e. used in IF statement OT simply being printed using @@nav). Does such swapping will fix this issue?

[2015-07-24 21:20] TrySound commented on #75
@MsTrends Yes. It's just bubbling like behaivour. Variables processes all files with already included partials.

[2015-07-24 21:22] MsTrends commented on #75
Ok. Thanks very much for your support, I'll be waiting for the update.

[2015-07-24 21:44] 7immy opened #76 "Maybe useful for future development"
Saw this and thought it maybe useful for development..
https://github.com/posthtml/posthtml

[2015-07-24 22:14] TrySound commented on #75
Fixed with 0.13.6
Thanks.

[2015-07-24 22:16] TrySound commented on #76
@7immy Nice module. But this plugin not only for html. That's why it has own parser with own problems)

[2015-07-24 22:16] #76 closed

[2015-07-24 22:17] #72 closed

[2015-07-24 22:17] TrySound commented on #73
#70

[2015-07-24 22:17] #73 closed

[2015-07-24 22:18] #40 closed

[2015-07-24 22:19] TrySound commented on #60
#70

[2015-07-24 22:19] #60 closed

[2015-07-24 23:31] boccob opened #77 "Nested options are broken"
It seems that nested options are broken at the moment and example from `examples` folder of the project doesn't work as well.

Here what I get after `gulp include` in `examples` folder:
[code]

Probably the issue is related to this line:
[code]
This regexp gets only one closed bracket and it results to not valid json that could not be parsed.

[2015-07-25 00:39] jzhang300 commented on #73
@7immy
@TrySound

Thanks for being so fast to respond!

One suggestion is to do it like Jade's iteration syntax: http://jade-lang.com/reference/iteration/
I think having access to the index value is really important.

[2015-07-25 00:43] MsTrends commented on #75
Yes, I can confirm. Issue is resolved now.

[2015-07-25 02:58] #75 closed

[2015-07-25 03:18] #77 closed

[2015-07-25 04:12] TrySound commented on #41
@tslater Try this now

[2015-07-28 19:34] andremalkine opened #80 "Pass options to filters"
I wanted to set up a handlebars template filter, which I did like so:
html:
[code]
gulpfile:
[code]

It works great. However, I would love to be able to specify the data I want to run through handlebars in the `@@include` statement, like so:

[code]

The point being, to be able to pass an option into the filter handler. I guess this would only make sense if you were writing your own handler and no

[2015-07-28 21:13] TrySound commented on #80
This should work
[code]

[2015-07-29 02:41] andremalkine commented on #80
As far as I can tell, it does not. To clarify, the point is to get the `{ foo: "bar" }` object into the filter handler in the gulpfile, ie:

index.html:
[code]
_tmpl.hbs:
[code]
gulpfile.js
[code]
Desired output html:
[code]

[2015-07-29 02:42] andremalkine commented on #80
Ultimately I probably wouldn't pass JSON directly like that, but rather specify a path to a data file that the gulp task would require and then feed to the handlebars template.

[2015-07-29 06:02] TrySound commented on #80
@andremalkine This will be fixed soon. But not now, sorry.

[2015-07-29 20:35] andremalkine commented on #80
I'll keep my eye out. Thanks for looking into it!

[2015-08-05 06:57] jpiemeisl commented on #69
MsTrends, can you post your updated gulpfile.babel.js file? I'm having a similar issue using the yeoman generator. Did you switch over to jade or did you update the way you're using gulp-file-include?

[2015-08-05 13:19] MsTrends commented on #69
No, I didn't switch over to jade rather I modified my gulpfile as per the instructions given at the link above and modified it as per my requirement. My gulpfile is below:

<pre>
// generated on 2015-07-07 using generator-gulp-webapp 1.0.2
import gulp from 'gulp';
import gulpLoadPlugins from 'gulp-load-plugins';
import browserSync from 'browser-sync';
import del from 'del';
import {stream as wired

[2015-08-08 15:56] TrySound commented on #70
@coderhaoxin We can make breaking changes before 1.0 release. 0.* is non-semver, so npm updates only patch version for this  ^0.*.*
So, it's nice ability to remove extra code.

[2015-08-09 16:21] coderhaoxin commented on #70
@TrySound I think we could publish 1.0 now, and the todo list above should be 1.x.

[2015-08-09 18:01] TrySound commented on #70
@coderhaoxin After 1.* couldn't have breaking changes. But here we can do them every 0.*

[2015-08-09 18:05] coderhaoxin commented on #70
Never mind, we could publish as 2.x, 3.x and so on.

[2015-08-09 18:07] TrySound commented on #70
But still I want to make all cosmetic breaking changes before.

[2015-08-09 18:07] TrySound commented on #70
It's nice solution with 0.*.

[2015-08-09 18:08] TrySound commented on #70
However we can do no more releases before 1.0

[2015-08-10 10:58] LekeFly opened #82 "SVG file changes"
Before import:
[code]

After:
[code]

What's going on? Why is it changing the content?

[2015-08-10 11:53] TrySound commented on #82
@LekeFly gulp-file-include does not change your code.

[2015-08-10 11:53] #82 closed

[2015-08-17 03:15] thiagoaag opened #83 "Include only the path to the file, not its contents (Question)"
Hello!
first, congratulation for this awesome tool.
and so ....
i would include only the path to the file, not its contents.
is there any setting for this?

[2015-08-17 03:30] coderhaoxin commented on #83
Could you give an example?

[2015-08-17 16:25] thiagoaag commented on #83
yes!
for example:
 @@include('./js/home.js')

will result:
 <script type="text/javascript" src="./js/home.js"></script>

[2015-08-17 18:09] TrySound commented on #83
@thiagoaag You will be able to do custom functions in 1.0

[2015-08-17 20:22] thiagoaag commented on #83
thanks!

[2015-08-17 20:22] #83 closed

[2015-08-19 09:18] anstaks opened #84 "If / else with params"
Hello! Is it possible to use something like:
[code]
in b-breadcrumbs.html I have:
[code]

I can't find that feature(((.

[2015-08-19 09:43] TrySound commented on #84
@anstaks else won't be realized. Use `@@if(cond) {}` `@@if(!cond)`

[2015-08-19 10:01] anstaks commented on #84
@TrySound I see, it's not problem, but I can't set correct conditions, gulp falling! Can you write correct conditions for my example? Thank you!

[2015-08-19 10:09] TrySound commented on #84
@anstaks Can you show your code and error log?

[2015-08-20 12:29] anstaks commented on #84
@TrySound
[code]

Error in plugin 'gulp-file-include'
Message:
    Unexpected token ILLEGAL

If I set
[code]
Contidion return always true...

[2015-08-20 13:12] TrySound commented on #84
You should use non-prefixed variables in if statement

[2015-08-20 13:13] TrySound commented on #84
[code]

[2015-08-20 14:34] anstaks commented on #84
@TrySound I was try...
[code]

Error in plugin 'gulp-file-include'
Message:
    name is not defined

[2015-08-20 14:35] TrySound commented on #84
@anstaks Okay. Do you pass this variable somewhere?

[2015-08-20 14:36] anstaks commented on #84
@TrySound Yes, that variable exist in one view, but it does not exist in other views. In other views I want to put default header.

[2015-08-20 14:37] TrySound commented on #84
@anstaks
[code]

[2015-08-20 14:38] anstaks commented on #84
@TrySound
Error in plugin 'gulp-file-include'
Message:
    contex is not defined

My variable I set in view, not in Gulpfile.js

[2015-08-20 14:40] TrySound commented on #84
@anstaks `context`, not `contex`
context in if statement is not global variables, it's object with all variables in this view.

[2015-08-20 14:40] anstaks commented on #84
Ohhh... I got mistake, "contex" instead "context"

[2015-08-20 14:41] anstaks commented on #84
It Works! Thank you very much! Спасибо ;-)!

[2015-08-20 14:41] TrySound commented on #84
@anstaks Expression in if statement is javascript

[2015-08-20 14:41] TrySound commented on #84
@anstaks You are welcome.

[2015-08-20 14:41] #84 closed

[2015-09-01 16:16] AlexanderVince opened #85 "Backslash no longer escapes "quote marks""
Up to version 0.13.5 \ could be used to escape quote marks when passing strings with non alphanumeric characters through as data. As of 0.13.7 this no longer works.

[2015-09-13 19:38] JosefJezek commented on #80
+1

[2015-09-26 03:37] vagusX opened #86 "I use content as a key and got double DOMs"
index.html:

[code]

news-content.html

[code]

result:

[code]

So we can't use 'content' as a key?

[2015-10-23 06:19] twt313 commented on #54
:100:

[2015-10-31 21:20] DWboutin opened #88 "UTF8 encoding"
Hi, i'm trying to set some includes like this `@@include('./partials/search.html')` in a main html file. But it doesn't take the accents like "é, à, ê, etc..."

How can i force utf8 encoding?

[2015-10-31 21:28] TrySound commented on #88
@DWboutin Are you sure that your file is utf-8?

[2015-11-15 00:45] Theminijohn commented on #69
Thanks @MsTrends, Works well !

[2015-11-15 01:18] Theminijohn commented on #69
Thanks @MsTrends, Works well ! However when `gulp build` runs it does not compile the templates. Any Idea why ?

[2015-11-26 00:21] karneaud commented on #86
was wondering the same thing....wanted to include and include of a file snippet as key/ value

[2015-11-26 01:38] karneaud commented on #49
Is there any workaround?

[2015-12-31 00:12] ccbayer opened #89 "Nested Variables"
Is it possible to pass variables to a second layer from a main layout?

for example, on `layout.html`:

[code]

in `template-1.html`:

[code]

in `template-2.html`:

[code]

if i put quotes around the variables on the `template-1`, it passes `@@color` as a string literal to `template-2`.
if i don't put quotes around the variables, it throws an error ("unexpected @@").

[2015-12-31 00:15] TrySound commented on #89
@ccbayer Only with quotes.

[2015-12-31 00:28] ccbayer commented on #89
@TrySound so it passes as a string literal, then, which means i cannot pass through variables to a second template. correct?

[2015-12-31 01:24] TrySound commented on #89
Yep

[2015-12-31 19:47] brunoaugustocom commented on #69
Thanks for sharing the gulpfile. I was with the same issue and your solution helped me a bunch. Greetings!

[2016-01-02 08:26] mandalatv commented on #69
While the above gulpfile inserted includes on gulp serve, it kept giving me the following error while I attempted a gulp build (with generator-gulp-webapp 1.0.4):

<code>TypeError: $.useref.assets is not a function</code>

I modified the html task to include the fileInclude() call rather than pass views as an argument, and now it works on both serve and build for me.

<pre><code>
gulp.task('html',

[2016-02-03 08:27] soneway opened #90 "config basepath, only search for basepath dir?"
when confg basepath, relative path is not working

[2016-02-14 07:23] razinbunsu commented on #69
Thank you!

[2016-02-14 13:59] chernushevich opened #91 "Default variables"
Hello!

I was wondering if it is possible to set a default variable value if no variable has been passed.

For example I include header.html from index.html and pass a variable called `pageTitle`, which is being inserted into the `<title>` tag in header.html. If I do not pass such a variable, the title defaults to `@@pageTitle`. Is there any way I can set a default title instead of it defaulting t

[2016-02-14 14:03] TrySound commented on #91
@PixelPen Try to use `context` option to define global variables.

[2016-02-14 14:16] PixelPen commented on #91
@TrySound Thank you, that did the trick!

Would be great if you could define default variables in the included files, kinda like `@@title('Default Title)`. I feel like with lots of variables the gulpfile could get messy.

Anyway, thank you for your help!

[2016-02-16 11:55] web2style commented on #34
Gulp-plumber catches errors, but it doesn't point to the file where the error occurred, for ex.:

[code]

Any way to know the file with the error? Sometimes it is almost impossible to find it manually.

[2016-02-16 21:40] zslabs opened #92 "Partial inside a partial - get page variables"
Hi,
If my `header.tpl.html` contains:

[code]

That has a nav partial that contains:

[code]

That is then finally included like so on a page:

[code]

Then the page that includes `header.tpl.html` is not actually checking for the page var, because I suspect it's looking for `header.tpl.html` to set the context. Any tips on a way around this?

[2016-02-17 19:27] tommypreger opened #93 "if-statements leave newlines"
I'm having a hard time getting clean results with fileinclude because if statements leaves \n characters behind all over. Even if the condition is not met fileinclude will add two empty rows in the build file (corresponding to the two rows with curly brackets that contain the if-statement)

I've tried adding String.trim() to the result body in the conditionalHandler, but none of my hacks have been

[2016-02-18 11:17] engelhardtda commented on #93
I have a similar issue, perhaps our problems are connected. I tried to get some help here first.

http://stackoverflow.com/questions/35200386/gulp-file-include-adds-artefacts-before-every-include

[2016-02-18 15:35] coderhaoxin commented on #93
It looks like a BUG :cry: , I'll take a look this weekend. PR welcome :)

[2016-02-18 15:38] coderhaoxin commented on #41
closing for now. reopen if the bug still exists!

[2016-02-18 15:38] #41 closed

[2016-02-18 18:06] tomagladiator commented on #91
:+1:  for @@myVar('lorem ipsum')

[2016-02-19 10:06] tommypreger commented on #93
I found a solution that sort of worked for me. I'm not suggesting it's the real solution though (RegEx and advanced string manipulation isn't my expertise). Below is the part of replace-operator.js I changed, with my additions commented with `// Hack`

[code]

[2016-02-19 13:21] engelhardtda commented on #93
that also resolved my issue! :+1:

[2016-02-22 08:56] riyue opened #94 "js file include js file"
js file include js file , can't work
i really want to use this way

[2016-02-22 09:42] TrySound commented on #94
@riyue Show your code.

[2016-02-22 10:02] riyue commented on #94
file a.js
`(function(){
  @@include('b.js')
})();`

file b.js
`var a=1;`

then can i get a.js like this
`(function(){
  var a=1;
})();`

[2016-02-22 10:47] TrySound commented on #94
@riyue And what you get now? Do you have errors?

[2016-02-23 03:14] riyue commented on #94
file a.js
(function(){ @@include('b.js') })();

file b.js
var a=1;

i want to get this
(function(){ var a=1; })();
but get this now,no errors, it can't be convert.
(function(){ @@include('b.js') })();

[2016-02-23 03:55] riyue commented on #94
it's my falut, it works。my path is wrong。
by the way。
path like this。
/include/a.js
/src/b.js    @@include('include/a.js')     i want to write absolute path relative to gulp path

so how to write the path  fileinclude({
          prefix: '@root',
          basepath: '@file'
        }
it can't work, this output @@include('include/a.js')

[2016-02-23 08:16] #94 closed

[2016-02-23 08:16] riyue commented on #94
it's my falut, it works。my path is wrong。

[2016-02-24 19:30] zanettin commented on #34
+ 1

[2016-02-25 12:19] riyue opened #95 "why auto convert string to number"
fileinclude({
  context: {
    name: '1.2'
  }
});

the name is string,but it will be convert to number.why？

[2016-03-01 23:01] prestyman opened #96 "Using with gulp-changed"
Is there any way to use gulp-file-include with gulp-changed, so that it only builds those files that will be changed in the stream?

[2016-03-02 05:49] TrySound commented on #96
@prestyman gulp-changed can't help with such small tasks. Text files are not so big.

[2016-03-02 14:35] prestyman commented on #96
using the function hasChanged with the built-in comparator changed.compareSha1Digest works.

`gulp.task('fileinclude', function() {
  return gulp.src('DEV/**/*.{html,htm,php}')
    .pipe(changed('BUILD', {hasChanged: changed.compareSha1Digest})) //make fileinclude only process those files that will change
    .pipe(fileinclude())
    .pipe(gulp.dest('BUILD'));
});`

[2016-03-02 15:18] TrySound commented on #96
@prestyman gulp-changed can't know if dependency of this html was changed.

[2016-03-02 17:57] prestyman commented on #96
Actually it can.  By using the changed.compareSha1Digest, it can compare the file's content SHA1 hash.  So when watching the directory, if you make a change to an include file it will run the task fileinclude task ONLY on those files that actually use the include. This is my full gulpfile.js:
[code]

[2016-03-02 17:59] TrySound commented on #96
Okay.

[2016-03-02 17:59] #96 closed

[2016-03-09 15:42] Hargat opened #97 "Can't change variable prefix"
It will be good staf to change prefix by default for variables

[2016-03-09 21:11] TrySound commented on #97
So change it. What's wrong?

[2016-03-10 07:48] Hargat commented on #97
Well it's suggestion, I will not able to commit some changes

[2016-03-10 08:45] TrySound commented on #97
@Hargat Why you don't like default? Is it too difficult for you to specify own?

[2016-03-10 08:59] Hargat commented on #97
Well, if I will change code, I should commit here, and get accept fo commit. Because I need this for team, and we using npm.
When I change prefix by changing "prefix" config, it change only prefix for "include", not for variables!
I this plugin to create JS templates, and using $$ instead of @@ will help me to avoid incpection problems

[2016-03-10 09:05] Hargat commented on #97
And in plugin code, in variable.js, there is check of prefix. But somehow it doesn't works on variables

[2016-03-10 09:15] Hargat commented on #97
Sorry, looks like it doesn't works with $$, but works with __

[2016-03-10 09:15] #97 closed

[2016-04-04 13:26] smohadjer opened #98 "Using variables in if statement"
I want to include a nav.html and set a class="selected" on the nav list item that matches the id being sent to nav.html, but I can't figure out how to get this done. Here is how I include my nav.html:

`@@include('nav.html', { "id": "news" })`

And here is the nav.html markup:
[code]

[2016-04-12 02:35] aidanparker opened #99 "Yeoman and Gulp not including CSS/JS that’s linked from included files."
I have my gulpfile.babel.js file setup with Yeoman that everything works correctly when using `gulp serve`, however upon using the default `gulp` command, none of the linked scripts or stylesheets from the included files are compiled into the dist folder (although the HTML files are compiled together).

Here is my gulpfile.babel.js file:

[code]

[2016-04-15 12:46] vedranjaic opened #100 "Build triggered only after second save"
Hi, I use file-include in combination with browser-sync, and the project was working fine. But in the last few days when I hit 'save', it does not build html, only after I hit 'save' the second time, the html is built and changes applied.

[2016-04-17 16:31] destefanis commented on #100
I'm also running into this issue.

It gives me the `Error: ENOENT: no such file or directory` error. As @vedranjaic mentioned, the HTML doesn't compile and so gulp can't find any of my html partials. If you need more specifics I'd be happy to provide them.

[2016-04-24 09:34] inferusvv opened #101 "Not possible to use HTML code as object parameter?"
Can I somehow include file with HTML code in parameter?

[code]

[2016-04-28 12:45] dhedey opened #102 "Including a file doesn't remove its unicode BOM"
_File 1:_

@@include("file2.htm")

_File 2:_
\ufeff Some text here

_Results in file 1 reading:_
ï»¿Some text here

Some tools such as visual studio include BOMs in all files, these should be trimmed before being included.

See https://github.com/nodejs/node-v0.x-archive/issues/1918 for relevant workarounds

[2016-05-02 11:32] vedranjaic commented on #100
I just realized that browser sync is firing reload before file-include is done compiling... Can I specify that browser-sync waits for file-include to finish, and then reload? This is the code for browser-sync
`gulp.task('server', ['sass'], function() {

	browserSync.init({
        server: build.dest,
        open: false
    });

	// Watch for SCSS
	gulp.watch(src.scss, ['sass']);
	// Watch for HTM

[2016-05-05 17:48] smohadjer commented on #98
Fixed it so:

	<nav>
		<ul>
			<li@@if (page === 'home') { class="selected"}><a href="index.html">Home</a></li>
			<li@@if (page === 'about') { class="selected"}><a href="about.html">About</a></li>
			<li@@if (page === 'gallery') { class="selected"}><a href="gallery.html">Gallery</a></li>
			<li@@if (page === 'news') { class="selected"}><a href="news.html">News</a></li>
			<li@@if (page === 'links

[2016-05-05 17:48] #98 closed

[2016-05-06 20:50] adrienlo commented on #100
You need to add a line after `gulp.dest`

[code]

[2016-05-10 12:23] vedranjaic commented on #100
Hi @adrienlo thank you and sorry for late reply, but even after I added that line, I still have to refresh after build complete.

[2016-06-15 14:38] PierBover commented on #73
Has this been implemented?

[2016-07-26 03:38] webarthur commented on #73
### `loop`
index.html

[code]

loop-article.html
[code]

Check in my git: https://github.com/webarthur/gulp-file-include

[2016-07-26 03:44] PierBover commented on #73
Awesome @webarthur !

[2016-08-01 09:32] elfet opened #106 "For with nested if"
Got error on this:

[code]

[2016-08-02 19:24] aidanparker commented on #99
Finally got back to this:

If anyone else ever has the same situation, here is some new code I wrote that appears to be working correctly on both serve and build. This is a setup where a shared file (like a header or footer) would be stored in an `include` folder in the `app` directory of your Yeoman project. I also have the gulp plugin `run-sequence` included, but that’s optional.

[code]

[2016-08-02 19:51] webarthur commented on #99
gulp.src('app/**/*.html')

Your css/js files have .html extension?

[2016-08-02 20:41] aidanparker commented on #99
I believe that's part of the original gulp file generated by Yeoman.

[2016-08-02 21:05] webarthur opened #107 "Travis CI fails on "for statement file""
It's not my code but...

[code]

test/fixtures/arr.html

[code]

That for code is right?

[2016-08-03 01:25] coderhaoxin commented on #107
all tests passed on my os (osx) 😢

[2016-08-03 02:22] webarthur commented on #107
It could be something more intuitive, like this:

[code]
or
[code]
or just @@end

[2016-08-04 08:47] dlutwuwei opened #108 "More parameters in filter"
When I write gulp task to show jinja template (python) in the local ,I have to write some code like this:

[code]

And I really want to make filter like this:

[code]

I have changed the code to apply this.

[2016-08-09 21:51] mrozilla commented on #101
Hey @inferusvv, you're correctly escaping your quotation marks, however, HTML works only as long as you don't include line breaks in the value of the object:

`@@include(./components/checked.html', {
	"name": "Title",
	"text": "<ul class=\"bullet-list\"><li>List item</li><li>List item</li></ul>"
});`

[2016-08-10 07:19] inferusvv commented on #101
@mrozilla Yep, found this way. But looks not comfortable to use :(

[2016-08-11 10:22] alexliu1987 opened #110 "How to format code ('@@') in js files"
jsformat:
'@@' --> '@ @'

[2016-08-11 21:48] mrozilla opened #111 "If statement in included files"
Would it be possible to include the if statement in the included files to check if the props are being passed down? Here's what I have in mind:

[code]

[code]

[2016-08-17 02:47] mishingo commented on #106
Im in the same boat

[2016-08-17 03:09] mishingo opened #112 "nested if in for loop; Error: i is not defined"
Im trying to nest a conditional in the for loop like below and receive error: Error: i is not defined
is there a way I can achieve the same result?

`@@for (var i = 0; i < arr.length; i++) {
        @@if(i == 0){
          Hello World
        }
  }
`

[2016-08-18 11:38] teej043 opened #113 "For loop example error"
I can't get the for loop to work even with the same example on the readme. There seems to be something wrong.

Gulp task:
[code]

html:
[code]

package version:
[code]

npm version:
[code]

Also, would it be possible if I can include for loopable arrays inside filters? e.g.:

[code]

[2016-08-29 17:58] ghost opened #114 "Error: no writecb in Transform class"
Good day. Help me please.

There are some versions.

**npm v3.10.6**

**node v4.5.**

**"gulp-file-include": "^0.14.0",**

There is part of gulpfile.js

[code]

There is result after running "gulp buildhtml". The problem appears today.

[code]

[2016-09-06 18:13] dpilafian opened #115 "Web root variable to support relative paths for href attributes inside templates"
Is there something like a `@@webRoot` variable that can be used inside a template to make a relative path?  More specifically, what's the recommended way to link to a CSS file from a template?

Example:

**index.html**

[code]

**support/index.html**

[code]

**templates/doc-begin.html**

[code]

The two `index.html` files are at different folder levels, so the relative path to the stylesheet in t

[2016-09-06 18:18] dpilafian commented on #115
Note: I currently have a workaround where I pass `webRoot` as `"."`, `".."`, or `"../.."` into each `@@include` call, but that's cumbersome and brittle.

[2016-09-07 11:39] dlutwuwei commented on #113
happened in node of low version

[2016-09-08 22:03] yoanmalie opened #118 "Error when file doesn't exist"
Hello,
I suggest a new idea,
I have a Gulp starter workflow and in this workflow i use gulp-favicons and it create a file called favicons.html.
Sometime, at the start of a project this file is not created for whatever reasons, so i have to create an empty favicons.html to avoid error when i launch the HTML file inclusion task.

It is possible to pass a new option, or a pattern or a "if file exist"

[2016-09-15 06:20] hesselberg commented on #112
+1, this would be very useful

[2016-09-26 14:39] morrislaptop opened #119 "Pass elements of an array to include"
The following doesn't seem to work?

[code]

[2016-09-27 03:49] #107 closed

[2016-09-27 03:50] coderhaoxin commented on #107
3a36590c6d808353730ef715ecef2e4a938cfb53

[2016-09-27 03:51] coderhaoxin commented on #113
Why not use `node@4+` ? >_<

[2016-09-27 03:51] #113 closed

[2016-09-27 03:53] haoxins opened #121 "add tests for `loop`"

[2016-10-18 14:01] zverevalexei commented on #111
Agreed. Ignore-undeclared-variables option would be awesome to have.
Pre-configuring each single variable makes a mess out of code and gives a slight chance for a bug to appear.

[2016-10-20 12:22] salexseen opened #122 "JSON file not exists"

[2016-11-07 03:55] LeaVerou commented on #73
Do I *have* to use a separate template? Can I not do it inline? It seems pointless to have separate templates for like 1 line bits of HTML, just because `@@loop` needs it.

Thanks for a great plugin!

[2016-11-12 03:50] NextSeason opened #123 "Easier way to skip binary files."
While using gulp-file-include, I think we must set src with `!*.{jpg,png,jpeg,gif,bmp,woff,eot,tff...}` to make the process skip compile binary files.
Maybe it will be better if add a param in options just like some others plugins . `{ skipBinary : true }`
Or is there anyway to do this but I didn't find it in documentation ?

[2016-11-14 01:32] jurajkapsz opened #124 "Single parenthesis in option's value breaks rendering"
Having a single parenthesis, `(` or `)`, in an option's value breaks parsing of that `@@include`.

**E.g.:**

    @@include('some/file.html', { "name": "this :( will break" })

[2016-11-16 13:10] pimkle commented on #112
any idea?

[2016-11-18 02:29] pimkle commented on #112
how about nest file in file? like this: https://github.com/coderhaoxin/gulp-file-include/issues/62

[2016-11-18 03:31] c0d1ng commented on #99
Thanks @aidanparker for the gulpfile, helped me a lot!
However if i place code like that:
[code]
in a file in the include directory, it doesn't get parsed correctly. Maybe someone got some advice there?

[2016-11-21 16:34] JacobDB opened #125 "How can I add a parameter to a variable?"
I'm trying to set up a custom variable that will automatically convert over to an SVG. The format would be:

    @@icon("search")

Which would output:

    <svg class="svg-icon"><use xlink:href="#search" /></svg>

Is this possible to do with this module, or no?

[2016-12-09 18:14] anulal-s commented on #112
define one another variable with i,

@@for(var i = 0, s = ' selected'; i < 5; i++, s = '') {
    <li  class="`+s+`">`+i+`</li>
}

[2016-12-12 06:14] pimkle commented on #112
After a day's attempting, I found out that in current version, there's no way to achieve this using only fileinclude. You just can't nest if/loop in if/loop. I've tried nested if in if, nested loop in loop , none of them worked. Just right a component or use js to judge. And fileinclude doesn't support trans data in js neither. I think it is best for simple header footer include, which is cool, to

[2016-12-12 06:35] dpilafian commented on #115
Workaround is posted at:
http://stackoverflow.com/q/39418423

[2016-12-13 06:43] richardtallent commented on #125
I'm a newbie at using this library (just started tonight), but I'm not aware of any mechanism for creating custom functions. However, I think you could accomplish what you want with a template:

**svg.html**
`<svg class="svg-icon"><use xlink:href="#@@link" /></svg>`

**input.html**
`@@include('./svg.html',{"link":"search"})`

The syntax is a little longer, but it would produce the output you want.

[2016-12-13 06:58] richardtallent commented on #123
Do you use a single gulp task to copy all resources?

If so, the best answer IMHO would be to have gulp tasks with their own `src`, `pipe`, and `dest` pipeline for each major file type. That way you can control which files are sent through `gulp-file-include` (and other plugins) and which ones aren't. Then create a default gulp task to do them all (using the dependency parameter). Example:

[code]

[2016-12-13 07:23] richardtallent commented on #115
I have an ugly solution for you: run *two* gulp tasks run sequentially (using the `run-sequence` plugin).

The first would take a *master* template and *create* two new versions of your template: a "level 1" version and a "level 2" version, each with the appropriate paths.

The second gulp task would be your normal task, but rather than including the master template, your web pages would include t

[2016-12-13 15:08] JacobDB commented on #125
Ah, thanks, that's useful info! I'll give it a try when I have a few spare minutes.

[2016-12-13 19:42] dpilafian commented on #115
It may be ugly, but it's creative!  I like it.  Thanks.

[2016-12-21 02:57] markadrake commented on #101
Can you do this?

[code]

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals

[2016-12-21 18:10] JacobDB commented on #125
@richardtallent I finally got around to trying this, and I figured it out. Works perfectly :)

`.pipe(replace(/(?:<icon:)([^>]+)(?:>)/g, "<i class='fa fa-$1' aria-hidden='true'><\/i>"))`

(Note that I'm currently using FontAwesome but plan to change this to SVG at some point in the future...)

Thanks much!

[2016-12-21 18:10] #125 closed

[2016-12-25 15:28] NextSeason opened #126 "Incorrect results if the previous task change files which will be "include" by another file."
[code]
a.html

[code]

b.html
[code]
In task1, the `__STATIC__` in `b.html` has been replaced by some other string. But in the output file a.html, it still "include" an old b.html which is still having `__STATIC__` string in it.

[2016-12-29 21:14] yairEO commented on #119
well, while one wish a thing like that to work, in reality it's hell to program such a feature

[2016-12-29 21:18] yairEO opened #127 "Pass simple Arrays"
Simplified example:

    @@loop('foo.html', ["a", "b", "c"])

## foo.html

    <div>@@item</div>

I just made up `@@item` but you get the point. I don't want to create objects and make up key names just to be able to pass a simple array and print it...

[2017-01-02 09:33] yuuk opened #128 "Inexplicable characters"
I used gulp-file-include simply with browserSync in my project.

The code is like that:

`gulp.task('fileinclude', function() {
  gulp.src('./html/*.html')
    .pipe(plugins.fileInclude({
      prefix: '@@',
      basepath: './html/'
    }))
    .pipe(gulp.dest('./'))
    .pipe(browserSync.stream());
});
`

It works! but generated a strange characters, `&#65279;` .

And it caused a blank line.

![

[2017-01-02 13:41] yairEO commented on #73
Like others have said here, I want to be able to include a bunch of templates, by supplying a rule:

[code]

I imagine it working like the above example

[2017-01-30 16:47] richardtallent commented on #102
This appears to still be an issue... is there a fix in the works?

[2017-01-30 16:53] richardtallent commented on #102
I added this line after line 126 in index.html, no time for a PR this morning but documenting that this should be an easy fix:

includeContent = includeContent.replace(/^\uFEFF/, '');

[2017-02-12 15:26] yairEO opened #130 "Include file with data where a key value is a variable passed from gulp"
## main.html (src file)

[code]

I want `xxx` to be a variable passed from gulp to my main file (main.html). it has many includes which use that `serverPath` property in the data passed and I want it to come from gulp.

I can't seem to find how to do that since `context` only allows the things to be used in `if` statements. which is a bummer.

[2017-02-15 11:52] matthewmcclatchie opened #131 "Looping over JSON arrays"
Not sure if this is do-able or I've missed something.

I'm using the `@@loop` command to successfully build a template based on some JSON data. The template is an SVG and the JSON is the XML structure of a bunch of SVGs.

It's working fine for the most part, except when I want to loop over an array in the JSON.

Here's an example...

JSON
[code]

Template
[code]

The first JSON property works fine

[2017-02-20 23:23] giorgiobeggiora opened #132 "dynamic include paths using wildcards and variables"
Feature request

It would be great to have something like:

@@include('./_assets/' + @@myFileName + '.html')

@@include('./_assets/**/*.html') ---> include all html files in a folder and its subfolders

@@for (var i = 0; i < arr.length; i++) {
  @@include('./_assets/' + arr[i] + '.html')
}

Thanks

[2017-02-28 09:43] adamlindqvist commented on #112
@pimkle thanks for info. Was also struggling with this.

Would be a very useful functionality if this is added.

[2017-03-01 03:43] #106 closed

[2017-03-01 11:18] MSMcBain commented on #128
Having the same issue. It is [this character](http://apps.timwhitlock.info/unicode/inspect/hex/FEFF) being inserted and causing the issue. I've worked around it by piping into gulp-replace after my file include to strip these (and a few other related) chars with a bit of regex.

[code]

Nothing particularly special going on in my source HTML files, I'm only using @@include, although some are neste

[2017-03-03 07:12] yuuk commented on #128
i got the reason! it caused by the file encoding. remove the file **BOM** will fixed it.

[2017-03-16 08:52] MSMcBain commented on #119
So, I sort of had the same requirement but did, eventually, arrive at a simple hack to get the result I need; merely pipe your stream into fileInclude multiple times. E.g.

[code]

As you'll have observed, the @@include statement will have been written into your HTML multiple times instead of being 'executed'. But, provided the statement isn't malformed, there's nothing stopping you re-processing

[2017-03-22 07:30] pmrotule opened #133 "Not able to use functions in context"
It would be really useful to be able to use a custom javascript function in my html files. I already use the `context` option to include a prefix and hash into the path of my assets like this `<img src="@paths.assets@myimage-@hash@.jpg">`. It works well but it would be much more elegant to use a function like `<img src="@generate_path('myimage.jpg')@">`. I tried to add a function to the `context`b

[2017-03-28 01:43] PavelEfimenko opened #134 "if statement problem"
Hello!
if not understand child param?

[code]

`Error: Invalid or unexpected token`

How that fix?

[2017-03-28 01:54] PavelEfimenko commented on #134
The problem was because of the symbol "-" in the title

[code]
That code working.

[2017-04-04 14:39] #115 closed

[2017-04-04 14:39] coderhaoxin commented on #115
closed by https://github.com/coderhaoxin/gulp-file-include/pull/135

[2017-04-04 14:39] coderhaoxin commented on #115
land 88706db790b2123958b4424468f689cecb95e78d

[2017-04-05 23:01] geoffatcircle opened #136 "Subsequent calls to fileinclude used cached version of file"
If I make changes to an included file, save it, and subsequently call fileinclude in a gulp task (from gulp-live-server and watch) the file does not change. I need to stop gulp-live-server and start again.

[2017-04-23 18:26] robsonrosa opened #137 "@@include referencing a json file"
Why can't I use a json file with a `@@include` tag? When I pass the json context, the `@@include` tag works fine, but if I specify a json file, nothing happens: no error and no binding.

I'm sure the json file exists and its well referenced because replacing the `@@include` tag for `@@loop` leads to include the same template file several times (once per json property - which means that a loop stat

[2017-05-23 16:53] anetk opened #138 "Not uploading all files"
I have index.html - and when I add somewhere on the page  "@@include('header.html')"
when i run gulp I don't get those updates on index.html.
When I ran gulp for the first time I get everything from header.html but not when I update.

See my gulpfile below:

`/*=============================================
=                  GULP FILE                 =
=============================================

[2017-06-13 10:40] nicothin opened #139 "How to check the existence of a variable?"
I want to check the existence of a variable in the attached file. If a variable was transferred to the file when it was included, output some part of the markup.
How to do it?

[2017-06-13 17:14] angeliquejw commented on #139
You can do this by calling your include like so :
`@@include(FILEPATH, { "foo": "bar" })`

And then, in your include, using an `@@if` statement, like so:
`@@if (context.foo === 'bar') { YOURMARKUPHERE }`

I'm doing this now for a site to pass an "is-active" class to my site navigation. :)

[2017-06-13 17:29] nicothin commented on #139
`@@if (context.testVar) { YOURMARKUPHERE }`
excellent! It's almost what I wanted.
Only one thing: it's not checking the existence of a variable, it's checking that the type of the variable === true (if bring it to a boolean) :)

[2017-06-13 17:29] #139 closed

[2017-06-15 23:25] seantreanor opened #140 "Indent"
Hi

I am having an issue with indentation when including content.

The image below is the output destination for compiling:

![screen shot 2017-06-16 at 00 21 23](https://user-images.githubusercontent.com/11556802/27205639-e51d3da6-5229-11e7-8b18-bbf04440cdc2.png)

The image below is the partial that I am compiling:

![screen shot 2017-06-16 at 00 21 26](https://user-images.githubusercontent.com/1

[2017-06-16 20:53] adampatarino commented on #132
+1 👍

[2017-07-06 18:24] richardtallent commented on #128
I just ran across the same problem after upgrading from 1.0. I found a Visual Studio 2017 extension to remove BOM characters for me, but this should be filed as a bug, as I can think of no use case for someone wanting extra BOM headers to be included.

[2017-08-03 08:06] ZSkycat opened #141 "建议支持定义局部变量功能"
我猜作者看得懂中文，表示英语很渣，就用中文啦 -0-
这个插件真的非常好用。

比如，我可以在 index.html 定义局部变量

@@text = '标题名称'

然后这个页面除了使用 @@include 外，我还可以用 @@text 来将许多一样的文本统一起来

[2017-08-06 05:43] woden0415 commented on #140
maybe, you can do like this.
**index.html**
[code]

[2017-08-06 05:49] woden0415 commented on #89
thanks all the way with you

[2017-08-14 14:32] automagisch commented on #136
+1 on this issue! Ran into the same thing, but really weird - it used to work before.

[2017-08-21 11:13] igloosi opened #142 "Anyone got it working with nunjucks"
Use case: have component macros and would like to include a rendered code example in the readme file

[2017-09-08 18:30] dnnsldr commented on #137
@robsonrosa
Did you find a better solution for this?

[2017-09-12 11:29] sebastian-marinescu commented on #111
+1

This is not possible in any way?

[2017-09-19 21:27] robsonrosa commented on #137
Sorry, @dnnsldr, but I couldn't find a better solution.

[2017-09-22 23:19] sayore opened #144 "Can you carry variables(JSON Objects) deeper then just 1 layer somehow?"
I've got this setup:
[code]
Is it in any way shape or form possible to declare a JSON Object i can carry from the main file to the meta.html?
I want to expand this system to a degree so i can configure each pages special attributes easily for SEO optimizing.
Here are my Code Snippets i use:

**main.html**
[code]
**index_wo_content.html**
[code]
**meta.html**
[code]

[2017-09-23 10:25] edenprojectde commented on #144
Fixed it but its really not pretty imo...
**index_wo_content.html**
[code]
**meta.html**
[code]

[2017-10-06 09:04] acutus commented on #128
A fix to this was merged a couple of years ago: https://github.com/coderhaoxin/gulp-file-include/pull/16

But apparently it has regressed in this commit: https://github.com/coderhaoxin/gulp-file-include/commit/069dd6cf8d575737f6f7d026c31fd763fcf03446

[2017-11-07 14:01] SilvaLA59 commented on #130
Hi @yairEO. Can you found how to do this?

[2017-11-07 16:58] yairEO commented on #130
@SilvaLA59 - While I did not do that personally, you could use `gulp-replace` to replace specific strings in the stream with any other string.

[2017-11-17 18:08] xianghongai opened #145 "*** is not defined: (*** === "2")"
view.html:
[code]

include.html

[code]

windows 10 64 bit

C:\Users\Ke>npm -v
5.5.1

C:\Users\Ke>node -v
v8.9.0

"gulp-file-include": "^1.2.0",

[2017-11-22 21:26] walshyb commented on #144
Not if you've tried this yet, but yes, sub objects work! I just double checked to make sure:

**index.html**
[code]

**_sample-template.html**
[code]

[2017-11-30 09:59] #122 closed

[2017-12-13 08:51] yuuk opened #147 "Can not support complex JSON"
Such a json data，how to loop them?
[code]

[2017-12-27 07:11] huangwentai commented on #106
do you fixed yet , i find way like this ,and it work

@@for (var i = 0; i < breadcrumb.length; i++) {
					<li class="breadcrumb-item `+ breadcrumb[i].active +`">
						`+ ((breadcrumb.length!=i+1)?('<a href="#">' +breadcrumb[i].name+ '</a>'):breadcrumb[i].name) +`
					</li>
				}

<li class="breadcrumb-item "><a href="#">參數</a></li>
<li class="breadcrumb-item active">系統參數</li>

[2017-12-27 07:12] huangwentai commented on #112
do you fixed yet , i find way like this ,and it work

@@for (var i = 0; i < breadcrumb.length; i++) {
					<li class="breadcrumb-item `+ breadcrumb[i].active +`">
						`+ ((breadcrumb.length!=i+1)?('<a href="#">' +breadcrumb[i].name+ '</a>'):breadcrumb[i].name) +`
					</li>
				}

<li class="breadcrumb-item "><a href="#">參數</a></li>
<li class="breadcrumb-item active">系統參數</li>

[2018-01-01 11:10] TheDancingCode opened #150 "Replace deprecated dependency gulp-util"
[`gulp-util`](https://www.npmjs.com/package/gulp-util) has been deprecated recently. Continuing to use this dependency may prevent the use of your library with the latest release of Gulp 4 so **it is important to replace `gulp-util`**.

The [README.md](https://github.com/gulpjs/gulp-util) lists alternatives for all the components so a simple replacement should be enough.

Your package is popular b

[2018-01-05 03:42] #150 closed

[2018-01-22 18:50] kraftstudio commented on #140
You should add indent:true in your fileinclude pipe:
.pipe( fileinclude({
			indent: true
}) )

[2018-01-24 09:35] jensschneider opened #152 "Why is changed file not in output when using gulp.watch"
# My setup

**index.html**
[code]
**file1.html**
[code]
**file2.html**
[code]

# Initial gulp process without .watch
**result**
[code]

# Starting gulp.watch to index.html
## Changing file1 to ```updating file1```
**result**
[code]
Content of file1 is missing

## Then changing file2 to ```updating file2```
**result**
[code]
Changings of file1 are included. Content of file2 is missing.

## Stopping

[2018-02-26 20:13] mpukit commented on #93
@tommypreger This had just recently started happening to me but your 'hack' also resolved my issue. Looks like there are a few reported issues, for ex [here](https://github.com/coderhaoxin/gulp-file-include/issues/128) that are yet to be addressed.

[2018-02-28 03:34] cz2013 opened #155 "prefix set "<%-" to build ejs include why change context include of "<%=""
I want to build ejs to ejs, only include the file with rule of ejs, for example:
<%- include('../common/tpl/header.ejs') %>
code is this:
gulp.src(['./src/views/**/index.ejs'])
        .pipe(fileInclude({
          prefix: '<%-',
          suffix: '%>',
          basepath: '@file',
          indent: true
        }))
        .pipe(gulp.dest('./dist/ejs/'))

);

but the result is that include is rig

[2018-02-28 05:28] #155 closed

[2018-03-05 15:12] fxk01 opened #156 "Automatic compilation for development"
How to compile automatically without replacing the content of the source in the development

[2018-03-06 09:58] hooray opened #157 "The variable is not defined"
[code]

Error Info: `i is not defined: (button[i].type == "return")`

[2018-03-07 08:52] zhangjuanjuan01 commented on #137
Did you find a solution for this? could you give me the code you said "two possible workarounds, but they are very bad practices" . I do not understand well

[2018-03-07 08:56] zhangjuanjuan01 commented on #131
Do you find the solution now? I have the same question with you

[2018-03-07 09:15] zhangjuanjuan01 commented on #131
data----------------------"bread":[{"name":"财务管理"},{"name":"提现管理"}],
template:
@@for (var i = 0; i < bread.length; i++) {
<li>`+ bread[i].name +`</li>}
 have a try

[2018-03-19 10:31] ShahidH commented on #38
Is it fixed yet?

I get an error:  `is not defined`

[2018-04-11 14:32] minlare commented on #38
@ShahidH - see #84

You need to check the variable on `context` object as follows:

[code]

[2018-05-23 10:04] lyyleyuanyuan opened #158 "Can only pack less than 48 HTML files？"
There are more than 48 HTML files in my src folder, but there are only 48 files in the packaged dist file. Why is this?

[2018-05-29 14:21] Keystion commented on #157
+1

[2018-05-30 08:49] hooray commented on #157
@Keystion lol, the link you shared is my blog, the solution can solve my problem, but I don't think it is the best way. ^_^

[2018-06-04 06:48] Keystion commented on #157
[Laugh & Cry], The careless.

[2018-06-04 12:42] Justique commented on #147
Have you solved this problem?

[2018-06-07 06:30] easyfrog opened #159 "Does loop support inline statement?"
now is
[code]

inline mode:
[code]

so could support this inline loop mode? is quite useful!

[2018-06-07 06:43] easyfrog commented on #159
another loop issue, seems with parameter is also not support.

like this:
[code]
and give me an error:

[code]

[2018-06-20 10:07] yilingsj commented on #157
I have been in contact with gulp for a few days, and now I am working on the project with gulp.I encountered the problem of using if in the loop. I judged that the format was similar to the code of the main building.Looked at the host's blog just know originally I have written three yuan problem (^ o ^)

error demo: http://t.cn/RBk8K2M

我刚接触gulp几天，现在正在用gulp做项目。遇到了循环中使用if的问题，判断格式跟楼主的代码相似，结果报错了，也尝试过

[2018-06-20 10:36] yilingsj commented on #157
I tested it according to the landlord's ternary method. The static content can be passed, but the dynamic data is still unexpectedly interrupted, as shown in the figure:

error demo: http://t.cn/RBkrUFT
我按楼主的三元方法测试了下，静态内容是可以通过的，但动态数据还是意外中断，如图：

[2018-06-21 07:22] smilemuffie opened #160 "Can't work with gulp-rev-collector"
Here's my code:
[code]

[2018-07-10 01:30] #141 closed

[2018-07-18 23:52] ghost opened #161 "add option for change keywords please"
Some options for replace keywords like => linclude:"require" etc will be nice. Thx :)

[2018-08-29 19:57] williambueti commented on #132
The solution for me as to specify the var wrapped as a string, such as the following:
## source files
### a.html
[code]
### b.html
[code]
### c.html
[code]
## output html
[code]

[2018-10-15 12:10] front-man commented on #158
Still no news about this one? :(

[2018-10-18 07:57] caihuattkl opened #162 "Does gulp-file-include support Ajax's incoming data?"
Does gulp-file-include support Ajax's incoming data?

[2018-10-18 16:04] chezwicker opened #163 "Loop With Passed Array"
Hi there!

I have three html files:
 * index.html, which includes
 * section.html, which includes
 * row.html

Now in index.html I'm passing json to section.html

[code]

In section.html, I'm then trying to loop over the "sections" array:

`@@loop("row.html", @@sections)`

Unfortunately, that doesn't work, `@@sections` is not found. I've also tried to put the sections into a json file and to pass

[2018-10-18 22:33] chezwicker commented on #163
Created PR #164 to suggest an initial way to fix this. No tests yet (happy to implement if you think this is a possible solution) and most likely does not meet any other requirements you have for this project. Of course happy to update with your feedback.

[2018-11-19 03:13] aligajani commented on #162
Why wouldn't it?

[2018-11-19 03:15] aligajani commented on #137
This is not supported and its very weird.

[2018-11-19 04:09] aligajani commented on #137
Here is the solution everyone.

[code]

Put this in `index.js` before line 175.

[2018-12-07 12:04] kittender commented on #113
Hello there,
This issue is still happening for me.
It randomly worked, and then stopped working.

- Node v6.10.1
- Gulp File Include ^1.2.0

**Output**
[code]

**homepage.html**
[code]

**homepage-table.html**
[code]

[2018-12-12 13:58] kittender commented on #89
The following code does the trick as the value is wrapped in HTML and hence is decoded :+1:
[code]

My actual working code is the following (i use custom prefix/suffix) :
[code]

[2019-01-01 10:44] yairEO opened #165 "Inline if statement"
I have a menu with many items and I need to add a class conditionally to just one of them (the currently active one) and using `@@if` from the docs requires me to duplicate each line.

Is there a way to use an inline if statement?
I need something like this (`@@page`) is passed as variable from `index.html` to the `header.html`

    @@if (@@page === 'product')

But inline..

[2019-02-01 14:21] htmldiz opened #166 "With use "{" and "}"!"
Hi If I try use var in braces {@@object} its returm me error!

Message:
    Unexpected string in JSON at position 105
Details:
    domainEmitter: [object Object]
    domain: [object Object]
    domainThrown: false

G:\desctop\test\prebuild>

[2019-02-17 08:46] shakercs commented on #84
thank you so much ,but it's not working with multi level json like

{
    "stackedCards": {
    "image": "/images/section2.svg",
    "orderNum": "54674567"
    }},

@@if (context.stackedCards.image) {
   //test
}

[2019-02-17 08:48] shakercs commented on #38
{
          "stackedCards": {
          "image": "/images/section2.svg",
          "orderNum": "54674567"          }},

@@if (context.stackedCards.image) {
   //test
}
    Cannot read property 'image' of undefined:  (context.stackedCards.image)

not working with me

[2019-02-25 18:12] Sylvareth commented on #158
Same here... No idea what the issue might be.

[2019-02-26 06:12] shakercs opened #167 "If / else @@loop with params with object"
@@loop('html/components/stacked-cards/stacked-cards.html', [
        {
          "stackedCards": {
          "image": "",
          "orderNum": "54674567",
          "titleBox": "شركة الهدى للصناعات"
          }},
        {
          "stackedCards": {
          "image": "/images/section1.svg",
          "orderNum": "54674567",
          "titleBox": "شركة الهدى للصناعات"
          }},

  ])

@@if (

[2019-02-26 10:27] shakercs commented on #137
I've this issue
https://github.com/haoxins/gulp-file-include/issues/167

[2019-06-06 15:18] lucijanblagonic opened #169 "Referencing JSON in a loop include"
When referencing JSON file in a loop include, I'm unable go back to a parent folder (although it works for the components).
Original example in the docs works OK `@@loop("loop-article.html", "data.json")`
My use case `@@loop("loop-article.html", "../data/example.json")`

The folder struture is:
- templates
  * index.html
- components
  * header.html
- data
  * example.json

I get an error while bu

[2019-06-13 13:11] Waleedov opened #170 "Thank you!"
Just wanted to say thank you for this lifesaver, found this via css-tricks and I am so happy.
You can close this issue now :D

[2019-06-14 02:05] #170 closed

[2019-06-18 12:55] kamlyuk commented on #111
Use **this**:
`<div>@@name</div>
@@if (**this.**surname) {
    <div>@@surname</div>
}`

[2019-06-24 18:36] DanStevens opened #171 "Proposal for `include_once` directive as a means for skipping files already included"
I would like a way to skip including a file that has already been included like that of [`include_once` in PHP](https://www.php.net/manual/en/function.include-once.php).

## Proposal

I would propose a new directive `include_once` that can be used in addition to `include` . When it is used, gulp-file-include records that the file was included. If the file was not previously included by another `in

[2019-07-12 12:08] #70 closed

[2019-07-23 21:33] ryanaltvater commented on #136
I *believe* I have a similar issue, but I'm not sure that the solution above is for me. So I could use some additional input. :)

I have HTML files that are made up of included partials. When I save a parent file directly, it gets compiled and shows in the stream as the only changed file (because of `since: { lastRun(html) }`). When I save a partial file, the HTML task with `fileInclude` runs but

[2019-07-25 06:30] therajuahammad opened #172 "condition(if) on loop show error not defined"
**Hello,**
I use condition if on loop file. then i call this on index file . but show error condition variable isn't defined.

Please See screenshots for details:
[http://prntscr.com/ojqkxt](http://prntscr.com/ojqkxt)
[http://prntscr.com/ojqkxt](http://prntscr.com/ojqlca)
[http://prntscr.com/ojqkxt](http://prntscr.com/ojqloq)

Thanks.

[2019-08-15 09:23] Gaslan commented on #172
Did you put `blog` variable into `context` data?

[2019-08-15 11:24] rajuahammadfanz commented on #172
yes i want call blog variable when call loop file on index.html or others file

[2019-08-15 12:59] mrtdeh commented on #40
+1

[2019-08-28 19:32] adoumas commented on #163
Give a try to this usage

This is my main include
`
@@include('sections/home.html',{
        "title": "Big title",
        "title_class": "section__title--red",
        "links": {
            "active": true,
            "title":"Sub title",
            "list": [
                {"title":"Link 1"},
                {"title":"Link 2"},
                {"title":"Link 3"},
            ]
        }
    }

[2019-09-28 09:30] codechameleon23 commented on #112
this solution not working for me
my code:
-----------------
@@for (var i = 0; i < context.card.length; i++) {
               <div class="p-sm lg:col-4 flex-col">
                  <div class="flex-col flex-stretch">
                     <section class="ratio-1x1 mb-sm">
                        <div class="flex-col flex-stretch `+context.card[i].ImageClasses+`" style="background-image:url('`+contex

[2019-09-28 09:31] codechameleon23 commented on #112
this solution  is not working for me:

my code:
----------

[code]

error message:
------------
[code]

[2019-10-18 03:39] traf commented on #43
I'm interested in finding out how I could use this with another Markdown option as well. Any ideas?

[2019-11-09 15:07] IIIu6ko opened #175 "Postfix"
Please add a postfix so that we can include HTML using a comment:
``

[2019-12-13 20:30] adoumas commented on #89
awesome solution m8!

[2020-01-12 16:42] tito12 commented on #163
@adoumas thank you!

[2020-04-09 10:35] Loic57 commented on #163
I copied this code and I have "links is not defined"
I have to put context.links to make it work

[2020-05-06 18:47] Frankusky opened #177 "Support recursive include?"
I would like to include a file that inside has N include inside that maybe calls another include. There anyway to do this?

[2020-05-07 10:21] emavitta opened #178 "Multiline in variable and json error"
Is it possible to write multiline as variable?

@@include('text--simple.html',{"text":"
            <p>text</p>
            <p>text</p>
"})
In this way i'm gonna get
`JSON5: invalid character '\n' at 2:0`

I know i can just add \ at the end of every line, but i was just wondering if is there a better way.

edit:i removed the code markup because it was removing the breakline.

[2020-06-23 05:05] lossen commented on #159
@haoxins I need inline mode and loop with parameter too! Please help.
@@loop('./xxx.html', @@itms)
@@loop("<div>@@text</div>", [{text: "1"}, {text: "2"}])
@@loop("<div>@@text</div>", @@itms)

Now all these options doesn't work.

[2020-06-29 17:56] #134 closed

[2020-07-22 07:09] Montaro2017 opened #179 "Can I use different styles for different source files？"
For example:
I have a some files include a same file:

index.html
@@include("head.html")

home.html
@@include("head.html")

Can i get this files' name and according that to use different style for tags?

Such as
head.html

&#60;li @@if(file.name=="index.html" class="active")&#62;Index&#60;/li&#62;
&#60;li @@if(file.name=="home.html" class="active")&#62;Home&#60;/li&#62;

And why is there no else?

[2020-07-22 08:00] #179 closed

[2020-08-03 17:50] Dysa90 commented on #169
I have the same problem.

[2020-08-12 15:22] lmitton commented on #172
Passed the name variable with the ```@@include('includes/navbar.html', {"name" : "Test"})```
Within navbar.html it replaces the @@name value and I get Test, however when I try an if statement
```@@if (name === "Test"){<li>Hello</li>}```
I get the following error.
message: 'name is not defined:  (name === "Test")',
  plugin: 'gulp-file-include',

[2020-09-28 00:28] dohahelmy commented on #169
Have you solved the issue?

[2020-09-30 08:04] lucijanblagonic commented on #169
Nope.

[2020-11-09 19:50] BulatSa opened #180 "More error info"
Hello, you maked a great plugin, thank you!
But on error plugin give a little info about error: no info in what file error happened, only number of string.

[2020-11-22 01:08] svdoever commented on #177
As far as I can see you can include a partial file, and in this partial file include another partial file.

[2020-11-22 01:11] svdoever commented on #169
Files are referenced relative from the initial root file where includes are started.

[2020-12-30 12:42] lossen opened #182 "How to loop array of objects if it is inside array of objects in the same JSON file?"
I have gallery.json file with data

[code]
In html I'm using @@loop('./includes/components/gallery/gallery-item.html', "./gallery.json")
In gallery-item.html I have
[code]

**The question is how I can loop resources from gallery.json in gallery-item.html?**

[2021-02-09 07:11] lacomparte opened #183 "could i config custom `@@webRoot` or add `@@urlRoot` ?"
I want to use @@urlRoot (current there's no exist in this package)
Or
custom `@@webRoot` path.

is it possible?

[2021-02-09 10:35] dpilafian commented on #183
A web page's URL is dependent on where the page is deployed and how the web server is configured, so the full URL is generally not known when the HTML is generated.

An example use case might help clarify what you're trying to accomplish.

If you actually know the URL ahead of time, you could just create a regular variable named `@@urlRoot` and set it just like any other regular variable.  See the

[2021-02-10 00:23] lacomparte commented on #183
@dpilafian
thx for your comment.

i wanna configuration global var `@@some` in package

ex)
[code]

[2021-02-11 08:41] dpilafian commented on #183
You should be able to do that by setting the `some` variable in the `@@include` statement, like:
[code]

[2021-02-11 15:07] lacomparte commented on #183
@dpilafian
i know :)
but how could i configuration GLOBAL variable in npm package.

[2021-02-12 07:27] dpilafian commented on #183
Here's an real example that I think does what you're asking to do.

It reads **package.json** into an object and then passes that into the `fileInclude()` function.

**gulpfile.js**
[code]
Now you have access from the templates to everything in **package.json**.

See the full file at:
https://github.com/dnajs/dna.js/blob/master/gulpfile.js#L38

[2021-02-14 09:00] lacomparte commented on #183
@dpilafian
thanks u :)
i'll try to your code.

[2021-02-28 12:35] smth opened #184 "Filters documentation"
Is there any documentation on how to use the `filters` option?

Specifically I'm wondering how you would filter a SCSS file (using gulp-sass I guess).

[2021-04-03 07:12] self-destructed opened #185 "Is not difined in IF statement"
I have some code like this
[code]
in swiper html i have:

[code]

but i have more if statements in my file and they works.

      @@if (el === "pet"){
        @@loop('./partials/components/swiper/_item-pet.html',
      "@@pathtoJSON")}

      @@if (el === "testimonial"){
        @@loop('./partials/components/swiper/_item-testimon.html',
      "@@pathtoJSON")}

But when i try to add different varia

[2021-04-17 09:15] gzmihai commented on #185
what worked for me was to use `this.el` in @@if condition

[2021-04-17 10:05] 1danil10 commented on #185
For now, i am wrapping in quotes variables that i use in @@IF and they works fine(at least as i wanted).

`
@@include("./partials/components/swiper/_swiper.html", {pathtoJSON: "./partials/testimonials/testimonials.json", "el": "testimonial", class: "testimonials-swiper", "controls": true})`

[2021-05-03 16:01] pixelsaints commented on #178
having the same issue, any fix for this one?

[2021-05-13 20:58] DriesVanbilloen opened #186 "Question: Extension support in vscode"
Is there currently an extension that support syntax highlight for the include function/variables in html?
Cannot find it (Or I am looking wrong)

[2021-05-25 19:58] arekuusa commented on #40
+1

[2021-06-17 09:25] nadavc-jfrog opened #187 "Include with part of the JSON"
Consider the following JSON:
`[
  {
    "title": "My post title2",
    "description": "...",
    "imgSrc": "../../img/user-stories/rti-m.png"
  },
  {
    "title": "Another post",
    "description": "...",
    "imgSrc": "some-img2.png"
  },
  {
    "title": "One more post",
    "description": "....",
    "imgSrc": "some-img3.png"
  }
]`
Now, lets say I want to include just one of the records somew

[2021-07-20 10:48] handred800 opened #188 "nested for loop, inner variable is not defined"
im trying to use nested loop, but I can't access the inner variable

check out example below:
[code]

[code]
and i got error: j is not defined

if not using j, work perfectly
[code]
output
[code]

 how do I access the variable(j) in second @@for?

[2021-07-21 07:50] ZhangChengLin opened #189 "Can html page files be generated in batches?"
Can this generate html pages in batches?
The structure can be cycled in the page, can it be generated in batches?

[2021-07-23 03:08] ZhangChengLin commented on #189
@haoxins

[2021-07-27 02:39] handred800 commented on #188
I found an alternative solution to nested loop:
### goal: use this `selection` object to create html below
[code]
[code]

### solution:
Nested @@for doesn't work(so far), so using both @@for and @@loop.
To create html by @@loop function, you need to create an array of object according `selection` object.
Rebuild the `selection` object in gulpfile.js
make this
[code]
to this (use forEach or whateve

[2021-07-29 10:49] elemis opened #190 "@@webRoot documentation"
I don't understand how @@webRoot works. Do I have to define it with @@include? Or does it work automatically depending on the directory level? If I have to define it, how can I make it work with nested partials? Can someone show an example please? Thanks.

[2021-07-29 21:33] dpilafian commented on #190
The `@@webRoot` variable is set automatically.  Just use it in you template wherever you need a relative path to the source root.

For example, the `src` and `href` attributes below both use `@@webRoot`:
[code]
Defending on how deep your template is in the folder structure, the resulting HTML will look something like:
[code]

For a working example that's part of a project, see:
https://github.com/

[2021-07-30 07:10] elemis commented on #190
I thought that would be the case but somehow it doesn't work for me.

This is the structure I have:
dist/index.html
dist/docs/index.html

But @@webroot output is same for both and is: "./"
Though it's supposed to be "../" on files inside **docs** directory.

Maybe I'm missing something somewhere?

[2021-07-30 13:49] elemis opened #191 "Invalid character error"
I started getting the following error:

`Plumber found unhandled error:
 Error in plugin "gulp-file-include"
Message:
JSON5: invalid character '\"' at 4:5`

But I can't find the character that is causing it in any of the files. Any ideas how to pinpoint this?

[2021-07-30 14:08] elemis commented on #191
After hours of searching I found out the cause of the error is a missing comma. Oh, well :)

[2021-07-30 14:08] #191 closed

[2021-08-01 07:23] dpilafian commented on #190
Here's a correctly working example of the `@@webRoot` variable that is used in a template at _two different levels_:

**website/root/index.html** (higher)
https://github.com/dnajs/dna.js/blob/main/website/root/index.html#L1

**website/root/tutorial/index.html** (deeper)
https://github.com/dnajs/dna.js/blob/main/website/root/tutorial/index.html#L1

You may have encountered a bug that needs fixing,

[2021-08-02 08:01] ZhangChengLin commented on #187
Yes, is there a global variable that can be used when building a page? ?

[2021-08-02 16:31] elemis commented on #190
Thank you for the example. I started from scratch and it worked!

[2021-08-02 16:31] #190 closed

[2021-08-02 17:32] elemis opened #192 "Build only the files that will be changed"
Some of my partials are only included on certain files and not all. So when I make changes on these partial files I only want to build files that will be changed. Is this possible to achieve this somehow?

[2021-08-10 14:52] MuhammadMabrouk commented on #131
https://github.com/haoxins/gulp-file-include/issues/163#issuecomment-525890105

[2021-08-10 14:54] MuhammadMabrouk commented on #110
Any updates on this?

[2021-11-25 15:20] Viktor727 opened #193 "Detect which file have an error"
Hello, i have big project and more than 150+ html files and in every file i use @@include function. The problem is when i need to change one component, for example input or when i want to add more variables to @@include and when it show an error, it don't tell me which file have an error. How i can detect which file have an error, thank you :)

-----------------------------------------------
[17:1

[2021-12-20 17:52] vitamineart commented on #163
@adoumas you are the HERO!

[2022-02-27 16:01] #121 closed

[2022-08-10 16:11] sdebanik commented on #132
Thi

----------------------------
**This is not working for me.
 Getting below error**
---------------------------------------------
events.js:291
      throw er; // Unhandled 'error' event
      ^
[PluginError: EISDIR: illegal operation on a directory, read] {
  plugin: 'gulp-file-include',
  showProperties: true,
  showStack: false,
  __safety: { toString: [Function: bound ] },
  domainEmitter:

[2022-08-11 14:32] sdebanik commented on #84
@@for (var i = 0; i < data.length; i++) {
  @@if ( JSON.parse('`+data[i].include_file+`') == true ) {
          //do something
    }
 }

 @TrySound This is never working. Any thing I am missing or has issues in Gulp
 inlcude itself

[2022-08-12 09:40] sdebanik commented on #84
Okkkkkk , I found the solution

@@for (var i = 0; i < data.length; i++) {
    @@if ( `+context.data[i].checked === true +` ) {
          @@include(`+data[i].something+`)
      }
}

It WORKED!! :)

[2022-09-12 11:21] TastySpaceApple commented on #89
If we're discussing workarounds, my bad solution is using a @@for loop, as it allows to add anything by breaking with `  :

[code]

[2022-10-18 15:08] clement445 opened #194 "Fix : invalid characters in JSON5"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `gulp-file-include@2.3.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-11-12 00:06] elderdub commented on #89
So, let me clarify this for myself: have I got it right, that: if one has a huge Object passed in `context`, say,
[code]
and few nested `@@include()` operations inside, say,
`@@include('src/components/section/section.html', { lang: 'en_us' } )` and
`@@include('src/components/section-title/section-title.html', { title: `~`lexicon[lang].section1.title`~` } )`

there is NO **"right"** way to pass **a